@{
     Layout = null;
 }
 
 <!DOCTYPE html>
 @model GPArchitecture.Models.ViewModels.ProActiveDehireModel
 <html>
 <head>
     <meta name="viewport" content="width=device-width" />
     <title>Pro-Active De-Hire</title>
 </head>
 <body>
     <div>
         <table>
             <thead>
                 <tr>
                     <th>Collection Date</th>
 
                     @foreach (var item in Model.BinList)
                     {
                     
                         <th> @item +" Qty" </th>
                         <!--More properties-->
                    
                     }
                     <th>Remark</th>
                 </tr>
             </thead>
             <tbody>
   
             </tbody>
             <!--Add footer for totals-->
         </table>
     </div>
 </body>
 </html>

GO 

