﻿#footer {
position: fixed;
bottom: 0;
background-color: #707070;
width: 100%;
 min-width:1037px;
 height:15px;
}

.footerlabel {
    float: right;
    color: white;
    margin-right: 5%;
    font-size:12px;
}
.mandatory {
    color: red;
    font-size: 10px;
    font-weight: normal;
}
.option{
display: block;
padding: 17px 2px 1px;
white-space: pre;
min-height: 1.2em;
}
.dropdown li.active > a,
.dropdown li.active > a:hover,
.dropdown li.active > a:focus {
    background-color:#0040c7;
    color:#ffffff;
}
.select{
     background-color:#0049c7;
    color:#ffffff;
}
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}