﻿.ConfigTable{
margin:0px;
width:100%;
height:90%;
border:1px solid #A8A8A8 ;
}
.ConfigTable table{
width:100%;
height:90%;
margin:0px;padding:0px 2px 2px 0px;
}
.ConfigTable  tr:hover td{
background-color:#d9e4f0;
color:#509e2f;
font-weight:500;
}
 .ConfigTable th{
     
vertical-align:middle;
border:1px solid #A8A8A8 ;
border-width:0px 1px 1px 0px;
text-align:left;
padding:5px;
font-size:12px;
font-family:Arial;
font-weight:normal;
}

.ConfigTable td{
   
 min-width:150px;  
vertical-align:middle;
background-color:#ffffff;
border:1px solid #A8A8A8 ;
border-width:0px 1px 1px 0px;
text-align:left;
padding:0px;
font-size:12px;
font-family:Arial;
font-weight:normal;
color:#004c97;
}
.ConfigTable td:last-child {
text-align:center;
}
    
.ConfigTable tr:last-child th{
border-width:0px 1px 0px 0px;
}.ConfigTable tr th:last-child{
border-width:0px 0px 1px 0px;
}.ConfigTable tr:last-child th:last-child{
border-width:0px 0px 0px 0px;
}
.ConfigTable tr:first-child th{
background-color:#f1f1f1;
border:0px solid #A8A8A8;
text-align:center;
border-width:0px 1px 1px 0px;
padding:5px;
font-size:small;
font-family:Arial;
font-weight:500;
color:#004c97;
}
.ConfigTable tr:first-child:hover th{
background-color: #d9e4f0;
color:#ffffff;
}
.ConfigTable tr:first-child th:first-child{
border-width:0px 0px 1px 0px;
}
.ConfigTable tr:first-child th:last-child{
border-width:0px 0px 1px 1px;
}

.myButton {
 background-color:#004c97 ;
 border-radius:5px;
 border:1px solid transparent;
 display:inline-block;
 cursor:pointer;
 color:#ffffff;
 font-family:arial;
 font-size:12px;
 font-weight:normal;
 /*padding:2px 5px;*/
 text-decoration:none;
 /*text-shadow:0px 1px 0px #1570cd;*/
}
.myButton:hover {
 background-color:#C0C0C0  ;
}
.myButton:active {
 position:relative;
 top:1px;
}
.configdiv
{
    /*background-color:#989898 ;*/
    /*background-color:#E8E8E8;*/
    background-color:#6996c2;
    width:95%;
    height:20px;
    margin:0px;
}
.addconfigdiv
{
    /*background-color:#989898 ;*/
    /*background-color:#E8E8E8;*/
    /*background-color:#808080 ;*/
    background-color:#c2ddb6;
    padding:4px;
    width:95%;
    text-align:right;
    height:20px;
    margin:0px;
    font-size:small;
}
.configheader
{
    color: white; 
    font-size:13px;
    font-family:Arial;
    font-weight: 500;
    text-align: left;
  padding-top:2px;
  padding-left:10px; 
}