﻿
/*Login Page CSS*/
body{
    margin:0px;   
}
#loginDiv {
      background-size: 100% 100%;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height:100%;
    min-height: 650px;
    min-width: 650px;
    /*background: url('../../Images/loginBG.png') ;*/
    -webkit-background-size: cover; /* Safari en Chrome */
    -moz-background-size: cover;
     -o-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: inline-block;
}
.login
{
    margin-left:55%;
    margin-top:15%;
    margin-bottom:1%;
    padding-left:2%;   
    /*background-image:url(../../Images/loginPanel.png);*/
    /*background-image:url(../../Images/Login/loginpanel.png);
    background-repeat:no-repeat;*/
    width:26%;
    /*height:100%;*/  
    border-color:#004c97; 
    border:2px solid #004c97;
    border-radius:5px;
    padding-right:2.5%;
    padding-bottom:2%;
    background-color:#004c97;
    /*height:20%;*/
}
.credentialsContainer
{
    width:110%;
    margin-left:2%;
    padding-left:0%;
    padding-top:5%;
    /*padding-right:3%;*/  
    /*color:#004c97;*/
    border-radius:1px;
    padding-right:2%;
     -webkit-border-radius: 5px;
           border-radius: 5px;
}

.loginHeader {
    background-color:#f2f2f2;  
    width:100%;
    background-size:100%;
    height:150px; 
    margin-bottom:20px;
    min-width: 1037px;
    
}
.title {
    height:30px
}
.signIn {
    color:white;     
    background-image:url('/Images/logonPannel.png');
    text-align:center;
    background-repeat:no-repeat;
    background-size:cover
}

.txtSignIn {
    color:white;
    float:left;
    padding-left:10px;
    min-height: 25px;
    padding-top: 5px;
}
.centerTable {
    text-align:center;
    width:30%;
    min-width:320px;
    margin-left: auto;
    margin-right: auto;
   
}
.loginLeftContainer {
     background-image:url('/Images/logonPannel.png');
}
.appLogo {
    padding-top:30px;
    width:280px;
    height:40px;
    padding-bottom:30px
}
.loginRightContainer {
    background-image:url('/Images/rightBg.png');
    width:300px;
    padding-bottom:30px
}
.userImage {
    width:150px;
    height:150px;
    margin-top:50px
}
.username {
    background-image:url('/Images/txtUsername.png');
   
}
.password {
    margin-top:5px;
    background-image:url('/Images/txtPassword.png');
    margin-bottom: 20px;   
}
.loginCredentials {
    width: 280px;
    height: 35px;
    /*border: 0;*/
    padding:2px;
    max-width: 100%;
    color:#509e2f;
    background-size: cover;
    background-color:#ffffff;
    border:1px solid #509e2f;
    margin-left: 20px;
    margin-right: 20px;
    /*-webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;*/
       
}
.goodpackCaption {
    color:#646464;
    /*color:#000080;*/
    font-size:16px;
    font-family:Calibri
}
/*.loginButton {
    background-color:white;
    color:black;
    font-size:16px;
    border:none;
    border-radius:0px;
    background-image:url('/Images/loginBtn.png');
    background-size:cover;
    min-width:80px;
    min-height:20px;
}*/
.loginButton
{
    margin-top:5%;
    width:110%;
    font-size:19px;  
    /*padding:2%;*/
    padding-left:2%;
    margin-left:9%;
    color:white;
    border: none;
    background-color:#509e2f;
     -webkit-border-radius: 5px;
           border-radius: 5px;
}
.loginButton:hover
{
    color:white;
     background-color:#509e2f;
     -webkit-border-radius: 5px;
      border-radius: 5px;
      border:none;

}
.loginButton.active
{
    color:white;
     background-color:#509e2f;
     -webkit-border-radius: 5px;
      border-radius: 5px;
      border:none;

}
.loginButton.active:hover
{
    color:white;
     background-color:#509e2f;
     -webkit-border-radius: 5px;
      border-radius: 5px;
      border:none;

}

*::-webkit-input-placeholder {
    color: #004c97;
}    
*:-moz-placeholder {
    /* FF 4-18 */
     color: #004c97;
}
*::-moz-placeholder {
    /* FF 19+ */
     color: #004c97;
}    
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #004c97;
}