﻿

.addLookup
{
    width: 600px; margin: 60px auto 0px auto; color: #004c97; font-size: 14px; font-weight: bold
}

.lookupBox
{
    width: 600px; height: auto; margin: 4px auto; border: 1px solid #ccc;background-color:#e4edf5;
}


.lookupLeftlabelstyle
{
    width: 100px; color: black; float: left; margin-left: 50px;font-size:small;
}

.lookupDropdownDiv
{
    width: 380px; margin-left:210px;font-size:small;
}


.lookupSavebutton{ background-color:#004c97;margin: 20px auto;background-size: 120px 30px;}

