﻿/*Drop down Menu Style*/

#nav ul li {
    border-right: none;
    border-bottom: 1px solid #DDD;
    width: 100%;
    height: 39px;
    display: block;
    visibility: visible;
    
}

    #nav ul li a {
        border-right: none;
        color: #a7a7a7;        
        /*text-shadow: 1px 1px 1px #FFF;
        border-bottom: 1px solid #FFF;*/
    }
    #nav ul li a:hover {
        border-right: none;
         color: #434343;      
        /*text-shadow: 1px 1px 1px #FFF;
        border-bottom: 1px solid #FFF;*/
    }
    #nav ul li:hover {
        background-color:#c9c9c9;
      
        font: 13px Geneva, Arial, Helvetica, sans-serif;
    }

#nav ul {
    display: none;
    visibility: hidden;
    position: absolute;   
    z-index: 1;
    background: #f2f5f6;   
    width: 100%;
    padding: 0;
}

#nav li:hover > ul {
    display: block;
    visibility: visible;
}

#nav {
    height: 100%;
    font: 13px Geneva, Arial, Helvetica, sans-serif;
    background-color:#0096db;
    border-radius: 3px;
    min-width: 500px;
    margin-left: 0;
    padding-left: 0;
    height: 30px;
    margin-top: 0px;
}

    #nav li {
        list-style: none;
        display: block;
        float: left;
        height: 100%;
        position: relative;

        /*border-right: 1px solid #66696B;*/
    }

        #nav li a {
            line-height: 30px;
            text-decoration: none;
            border-right: 1px solid #ADB6B5;
            height: 100%;
            color: white;
            font-size:13px;
            /*text-shadow: 1px 1px 1px #66696B;*/
            display: block;
            margin: 0;
            /*padding: 0 10px 0 30px;*/
            margin-left: 4%;
        }



    /*#nav .site-name, #nav .site-name:hover {
        width: 12%;
        background: url('../Images/Menu/MenuLogo.png') no-repeat 50px 7px ;
    }

       
     

        #nav .site-name a {
            width: 129px;
            overflow: hidden;
        }*/

    #nav li.entity {       
        width:16.5%;
        float:left;       
        
    }

        #nav li.users:hover {
            /*background: url('../Images/Menu/Users.png') no-repeat 9px 12px #3A3A3A;*/
             background-color:#25b1f2;
            
        }

    #nav li.transaction {
        width:16.5%;
        float:left;       
        background-color:#0096db;
        background-repeat:no-repeat;             
        /*visibility: hidden;*/
    }

        #nav li.transaction:hover {
            /*background: url('../Images/Menu/Roles.png') no-repeat 9px 12px #3A3A3A;*/
             background-color:#25b1f2;
     }

    #nav li.dataLookup {
        background: no-repeat 9px 12px ;
        width:16.5%;
        float:left;
    }

        #nav li.dataLookup:hover {
            /*background: url('../Images/Menu/Reports.png') no-repeat 9px 12px #3A3A3A;*/
             background-color:#25b1f2;
        }

        #nav li.welcome
        {
            background: no-repeat 9px 12px ;
            width:16.5%;
            float:left;
        }

    #nav li.mappingConfig {
        /*background: url('../Images/Menu/Transactions1.png') no-repeat 9px 12px ;*/
        width:16.5%;

        float:left;
    }

        #nav li.mappingConfig:hover {
            /*background: url('../Images/Menu/Transactions.png') no-repeat 9px 12px #3A3A3A;*/
             background-color:#25b1f2;
        }

    #nav li.admin {
        background: no-repeat 9px 12px ;
        width:16.5%;
        float:left;
        
        /*visibility: hidden;*/
    }

        #nav li.admin:hover {
            /*background: url('../Images/Menu/Notification.png') no-repeat 9px 12px #3A3A3A;*/
             background-color:#25b1f2;
        }

    #nav li:hover {
        /*background: #827D7D;*/
         background-color:#25b1f2;
    }

    #nav ul li:last-child, #nav ul li:last-child a {
        border-bottom: none;
    }

    #nav ul ul, #nav ul ul ul {
        top: 0;
        left: 170px;
        display: none;
        
        border: 1px solid #DDD;
        z-index: 1;
    }

    
     #nav li.resetpass {
        /*background: url('../Images/Menu/Key.png') no-repeat 9px 12px ;*/
        width:4%;
        float:right;
        
    }

    #nav li.blank {
        width:2%
    }

      #nav li.welmsg {
        width:13%;
        margin-top:17px;
        text-align:center;
        float:right;
        /*background: url('/Images/Menu/welcomeBG.png') no-repeat ;*/
    }
       #nav li.logout {
        /*background: url('../Images/logOffbtn.png') no-repeat 9px 12px ;*/
        width:6%;
        float:right;
        
    }
    
    .bgHeader1
    {
        background-image: url('../Images/dehireBgHeader.png');
    }
    
    .bgHeaderMain1
    {
        background-image: url('../Images/registerBg.png');
        /*border-collapse: collapse;*/
    }

        /*.bgHeaderMain1 td {
            border:none;
            outline:none;
        }*/

.alignCenter {
    text-align:center;
}
  
    .logo {
    height:40px;
    margin-left:1%;
    width:250px;
}
 
.title {
    height:30px;
  
}
.gpheader{
    height:30px;

}
.arrow2{
margin-left:20px;
}
 
.logout {
    height:30px; 
    margin-right:10%;
}
.homeHeader {
    /*background-color:#f2f2f2;*/ 
    background-color:white; 
    width:100%;
    height:70px;    
    background-size:100%;
}

#menuBar {
    min-width:1037px;
}