﻿.background {
    min-width: 1037px;
    min-height: 417px;
    background-size: cover;
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
}

.RoleBtn {
    background-color: #004c97;
    font-size: 14px;
    width: 150px;
    height: 30px;
    color: white;
    border: none;
    margin-top: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.Mappingbackground {
    background-color: #c2ddb6;
    width: inherit;
    height: 18px;
    font-size: 14px;
    color:#004c97;
    font-weight:300;
}

.previlegeLabels {
     margin-top: 5px;
    margin-bottom: 5px;
    width: 300px;
    background-color: #e4edf5;   
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 250px;
    max-height: 400px;
    font-size:small;
}

.rightArrow {
    background-image: url('../../Images/maparrow1.png');
    width: 40px;
    background-size: cover;
    height: 45px;
    border: none;
    margin-bottom: 7px;
}

.leftArrow {
    background-image: url('../../Images/maparrow2.png');
    width: 40px;
    background-size: cover;
    height: 45px;
    border: none;
}

.saveBtn {
    /*background-image: url('/Images/save.png');*/
    width: 100px;
    background-color:#004c97;
    border-radius:5px;
    background-size: 100% 100%;
    height: 30px;
    color: white;
    border: none;
}

#hqUser {
   text-align:center;
   background-color:#004c97;
}
#subsiUser {
    text-align:center
}

#selectable .ui-selecting {
    background: #e4edf5;
}

#selectable .ui-selected {
    background: #e4edf5;
    color: white;
}

#selectable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}

    #selectable li {
        margin: 3px;
        padding: 0.4em;
        font-size: 1.4em;
        height: 18px;
        margin-bottom: 7px;
    }


#previlegeList .ui-selecting {
    background: #e4edf5;
}

#previlegeList .ui-selected {
    background: #e4edf5;
    color: white;
}

#previlegeList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}

    #previlegeList li {
        margin: 3px;
        padding: 0.4em;
        font-size: 1.4em;
        height: 18px;
        margin-bottom: 7px;
    }
