﻿.scdropdown {
    width: 100%;
    height:25px;
    color: #000090;
    background-color: #ffffff;
    font: 100;
    padding-left: 2%;
    padding-top: 1%;
    border: 1px solid #ccc;
    font-size:small;
}
