﻿/*table,th,td
{
border:1px solid yellow;
}*/

.inputDiv
{
   float:left;width: 30%;/*border: 1px solid green;*/height:30px;margin-top:10px;margin-left:2.5%
}

.soDropdown
{
   width: 250px; height: 90%; color: #004c97; background-color: #ffffff; font: 100; padding-left: 2%;padding-top: 1%; border:1px solid #ccc
}

.viewSOinputDiv
{
   float:left;/*border: 1px solid green;*/height:30px;margin-left:2.5%
}


.editDiv{
width: 20%;height:35%;color:#004c97;background-color: #d9e4f0;margin-left:20px; font-size:small; padding-left: 1%;padding-top: 0.5%; border:1px solid transparent;float:left;
}



table.tablesorter {
	font-family:Tahoma;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 10pt;
	width: 100%;
	text-align: center;
	margin-left:auto; 
    margin-right:auto;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 10pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position:bottom;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align:middle;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}