﻿.selectableList {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 300px;
    background-color: #e4edf5;   
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 230px;
    max-height: 400px;
    font-size:small;
}