﻿.hidden
{
    display:none;
}

.addMapping
{
    width: 600px; margin: 60px auto 0px auto; color: #0049c2; font-size: 14px; font-weight: bold
}

.box
{
    width: 600px; height: auto; margin: 4px auto; border: 1px solid #ccc;font-size:small;background-color:#e4edf5;
}


.parentdiv
{
    margin:auto auto 5px auto;clear:both;
}
.leftlabelstyle
{
    width: 160px; color: #000090; float: left; margin-left: 40px;
}
.colon
{
    width: 20px; margin-left:10px; color: #000090; float: left;
}
.dropdownDiv
{
    width: 380px; margin-left:220px;
}
.dropdown
{
    width: 340px; height: 25px; color: #000090; background-color: #ffffff; font: 100; padding-left: 2%;padding-top: 1%;padding-bottom:1%; border:1px solid #ccc;
}

.dropdown:active{
border:1px solid #ccc;
}
.textbox
{
    width:140px; background-color:#ffffff; color:#000090; border:none; height:25px
}

.nextbutton{ /*background-image: url('../../images/nextBtn.png');*/background-color:#004c97;color:white;border-radius:5px;background-repeat: no-repeat;margin: 20px auto;background-size: 120px 30px;}

.container {
/*width: 600px;*/
margin: 0 auto;
}

.dateFormatInput {
    width: 200px;
    color: black;
    background-color: #e2e2e2;
    font: 100;
    border: 1px solid #e2e2e2;
    padding-left: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.emailFormatInput {
    align-content:inherit;
    width: 300px;
    color: black;
    background-color: #e2e2e2;
    font: 100;
    font-family:Arial;
    border: 1px solid #e2e2e2;
    padding-left: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.leftlabelemailstyle
{
    width: 150px; color: black; float: left; margin-left: 318px;
}
.dropdownEmailDiv
{
    margin-left:100px;
}