﻿/*vertical menu 1*/

#menu-v, #menu-v ul
{
    width: 42px;
    border-top:none;
    position: relative; font-size:0;
    list-style: none; margin: 0; padding: 0;
    z-index:9;
    border-right:1px solid transparent;  
    height:500px;
}
#menu-v{ 
     height:530px;
}
                
#menu-v li
{
    list-style: none; margin: 0; padding: 0;
}
#menu-v li a
{
    font: normal 12px Arial;
    display: block;
    color: black;
    text-decoration: none;
    line-height:26px;   
    padding: 4px 0px;  
    
   
}

/*vertical menu 2*/

#menu-v2
{
  border-right:1px solid transparent;   
  height:530px;

}
#menu-v2,
#menu-v2 ul,
#menu-v2 li,
#menu-v2 a {
  margin: 0;
  padding: 0;
  /*border: 0;*/
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font: normal 12px Arial;
  position: relative;
  
}
#menu-v2 {
  width: 150px;
}
#menu-v2 a {
  line-height: 1.3;
}
#menu-v2 > ul > li :last-child{
  /*border-bottom:1px solid #ccc;*/
}
#menu-v2 > ul > li:hover {
  background: #d9e4f0;
}
#menu-v2 > ul > li:active {
  color:#004c97;
}
#menu-v2 > ul > li > a {
  font-size: 12px;
  display: block;
  color: #509e2f;
  border-top: none;
}
#menu-v2 > ul > li > a > span {
  display: block;
  padding: 4px 0px;    
}
#menu-v2 > ul > li > a:hover {
  text-decoration: none;
}
#menu-v2 > ul > li > a:active {
  text-decoration: none;
  color:#004c97;
}
#menu-v2 > ul > li.active {
 background: #d9e4f0;
 
 border-bottom: none;
}
#menu-v2 > ul > li.has-sub > a span {
  background: url('/Images/arrow G.png') 96% center no-repeat ;
}
#menu-v2 > ul > li.has-sub.active > a span {
  background: url('/Images/arrow B.png') 96% center no-repeat;
  
}
/*#menu-v2 > ul > li:first-child > a span {
  background: url('/Images/Home.png')  left no-repeat ;
}
#menu-v2 > ul > li:first-child.active > a span {
  background: url('/Images/Home Selected.png')  left no-repeat ;
}*/
/* Sub menu */
#menu-v2 ul ul:last-child {
  display: none;
}
#menu-v2 ul ul li {
  padding: 0;
  border-top: none;

}
#menu-v2 ul ul li:last-child {
  border-bottom: 1px solid transparent;
}
#menu-v2 ul ul a {
  padding: 10px 10px 10px 25px;
  display: block;
  color: #509e2f;
  font-size: 12px;
  font-weight: normal;
  margin-left:30px;
}
#menu-v2 ul ul a:before {
  content: "»";
  position: absolute;
  left: 10px;
  color: #509e2f;
}
#menu-v2 ul ul a:hover {
  color: #004c97;
}
#menu-v2 ul ul a:active {
  color: #004c97;
}


