﻿<html>
<head>
    <title></title>
    <style>
    input.text { margin-bottom:12px; width:95%; padding: .2em; }
        /*.button:hover {
            background: #0066FF;
        }*/
    </style>
  
</head>
<body>
   
        <div id="dialog-addconfig" title="+ Add Configuration" data-bind="ifnot: configData()">
            @*<form id="configform" action="" method="post" novalidate="novalidate">*@
            <form id="configform" name="configform" action="" method="post">
                <label for="ConfigItem">Configuration Item</label>
                <input type="text" data-bind="value: $root.ConfigItem" name="ConfigItem" id="ConfigItem" value="" class="text ui-widget-content ui-corner-all validate[required] " />
                <label for="value">Value</label>
                <input type="text" data-bind="value: $root.Value" name="Value" id="Value" value="" class="text ui-widget-content ui-corner-all validate[required] " />
                <label for="Description">Description</label>
                @*<input type="text" data-bind="value: $root.Description" height="100" name="Description" id="Description" value="" class="text ui-widget-content ui-corner-all validate[required]" />*@
                <textarea rows="4" cols="50" data-bind="value: $root.Description" name="Description" id="Description"  class="text ui-widget-content ui-corner-all validate[required]"></textarea>
                <label for="LastUpdatedBy" data-bind="visible: false">LastUpdatedBy</label>
                <input type="text" name="LastUpdatedBy" value="" id="LastUpdatedBy" data-bind="value: $root.LastUpdatedBy, visible: false" />
                <label for="LastUpdatedDate" data-bind="visible: false">LastUpdatedDate</label>
                <input type="text" name="LastUpdatedDate" value="" id="LastUpdatedDate" data-bind="value: $root.LastUpdatedDate, visible: false" />
            
            </form>         
</div>
   
</body>
</html>