﻿<!--container for the add lokup starts here --->
<div class="container transactionDIV table-responsive" >
    <div class="addlookup" style="margin-left: 280px; color: #004c92;font-weight:bold;">Add Lookup</div>
    <div class="lookupBox">

        <div class="parentdiv" style="margin: 40px auto 5px auto">
            <div class="lookupLeftlabelstyle">Subsy Name</div>
            <div class="colon">:</div>
            <div class="lookupDropdownDiv">
                <select id="DDsubsi" data-bind="chosen: availableLookupSubsy, optionsText: 'SubsiName', selectedOptions: selectedLookupSubsyValue, optionsCaption: 'Select Subsy', optionsAfterRender: function (option, subsy) { ko.applyBindingsToNode(option, { disable: !subsy }, subsy) }" class="dropdown"></select>
            </div>
        </div>

        <div class="parentdiv">
            <div class="lookupLeftlabelstyle" style="margin-left: 50px;">Mapper Name</div>
            <div class="colon">:</div>
            <div class="lookupDropdownDiv">
                <select class="dropdown" id="DDmaper" data-bind="chosen: mapperforSubsy, optionsText: 'MapperName', selectedOptions: selectedMapperValue, optionsCaption: 'Select Mapper', optionsAfterRender: function (option, selectedMapperValue) { ko.applyBindingsToNode(option, { disable: !selectedMapperValue }, selectedMapperValue) }"></select>
                @*                <select class="soDropdown" id="DDpacker" data-bind="options: selectedPacker, optionsText: 'EntityName', selectedOptions: selectedPackerValue, optionsCaption: 'Select Delivery Location', optionsAfterRender: function (option, selectedPackerValue) { ko.applyBindingsToNode(option, { disable: !selectedPackerValue }, selectedPackerValue) }">
                    </select>*@
            </div>
        </div>

        <div class="parentdiv">
            <div class="lookupLeftlabelstyle">Lookup Name</div>
            <div class="colon">:</div>
            <div class="lookupDropdownDiv">
                <select class="dropdown" id="DDLookup" data-bind="chosen: lookupNames, optionsText: 'EntityName', value: selectedLookupValue"></select>
            </div>
        </div>


        <div style="width: auto; height: auto; margin-bottom: 2%; margin-top: 2%; text-align: center" class="table-responsive">

            <table id="LookupTable" style="width: 500px; border: 1px solid black; margin: auto; background-color: #f8f8f8; border-collapse: collapse; line-height: 2">

                <thead style="background-color: #004c97">
                    <tr style="border: 1px solid black">
                        <th style="border: 1px solid #ccc; font-size: small; color: white; text-align: center">Code Value</th>
                        <th style="border: 1px solid #ccc; font-size: small; color: white; text-align: center; ">Decode Value</th>
                    </tr>
                </thead>
                <tbody>
                    @*                    <tr>
                            <td style="border: 1px solid black">
                                <input id="codeTB0" type="text" value="" style="width: 100%; height: 100%"></td>
                            <td style="border: 1px solid black">
                                <input id="decodeTB0" type="text" value="" style="width: 100%; height: 100%"></td>
                        </tr>*@
                </tbody>
            </table>
        </div>
        <div>
            <div style="width: 280px; height: auto; margin-bottom: 10px;display:inline;float:left">
                <a href="#" style="margin-left: 10px; color: black; font-size: small; font-weight: bold;padding-left: 40px" data-bind="click: onAddMoreLookup"><u>Add lookup inputs.</u> </a>
            </div>

            <div style="width: 280px; height: auto; margin-bottom: 10px;float:right">
                <a href="#" style="margin-left: 10px; color: black; font-size:small; font-weight: bold;padding-left: 90px" data-bind="click: onDeleteLookup"><u>Delete lookup inputs.</u> </a>
            </div>
        </div>

        <div style="text-align: center">
            <button class="lookupSavebutton" style="height: 30px;color:white; width: 120px; border-radius:5px;margin-right:180px;margin-left:130px;" data-bind="click: onAddlookupSaveClick">Save</button>
        </div>


    </div>
</div>
<script>
    $('#DDsubsi').chosen();
    $('#DDmaper').chosen();
    $('#DDLookup').chosen();
</script>
<!--container for the add mapping section ends here --->
