﻿<div id="ASNDiv" class="transactionDIV table-responsive">
    <table style="background-color: #e4edf5;  border: 1px solid #ccc; width: 100%; min-width: 1074px; ">
        <tr>
            <td style="padding-left: 5px;width: 20px;"><label style="font-weight: 100; font-size: small; padding-top: 0px;color:#000090; margin-bottom: 0px;margin-left:50px;padding-right:8px">Subsi:</label></td>
            <td style="width: 250px;"><select id="DDASNsubsi" style=" font-size: small;margin-left:10px;" class="scdropdown" data-bind="chosen: mappedSubsiData, optionsText: 'SubsiName', selectedOptions: selectedMapSubsi, optionsCaption: 'Select Subsi', optionsAfterRender: function (option,customer) { ko.applyBindingsToNode(option, { disable: !selectedMapSubsi }, selectedMapSubsi) }"></select></td>

            <td style="width: 20%;"><label style="font-weight: 100; font-size: small; color: #000090; padding-top: 0px; margin-left: 150px; margin-bottom: 0px; ">Mapping To:</label></td>
            <td style="width: 250px;"><select id="DDASNmapper" style="margin-left: -90px; font-size: small;" class="scdropdown" data-bind="chosen: mappedFileData, selectedOptions: selectedFile, optionsCaption: 'Select Mapper',optionsAfterRender: function (option,selectedFile) { ko.applyBindingsToNode(option, { disable: ! selectedFile },  selectedFile) }"></select></td>

            <td><button type="button" style="margin-right:100px;margin-top:20px; height: 40px; float: right; width: 150px; background-color: #004c97; height: 45%; border: 5px solid transparent; border-radius: 5px;color:white" data-bind="click: onShowData">Show data</button></td>
        </tr>
        <tr>
            <td style="padding-left: 50px;width: 50px;"><div><label style="font-size: small; color: #000090; font-weight: 100; padding-top: 0px; margin-bottom: 0px; ">Select:</label></div></td>

            <td style="width: 250px;">
                @*<div style="background-color: #d9e4f0;width:300px;margin-left:30px"><form id="fileUploadform" style="margin-left:18%"><input type="file" name="file" id="scfile"  data-bind="value: uploadSCFileName"></form><br></div>*@
                <div><form id="fileUploadASN" style="margin-top:10px"><input type="file" name="file" id="asnfile" class="filestyle" style="margin-top:20px;width:200px;" data-size="sm" data-buttonname="btn-primary" data-bind="value:uploadSCFileName"></form><br></div>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

    </table>
    <script>
        $('#DDASNsubsi').chosen();
        $('#DDASNmapper').chosen();
    </script>

    <div style="width:89%; height: auto; margin-bottom: 2%;margin-left:150px">
        <table id="asnTable" style="min-width: 1050px; border: 1px solid #ccc; margin: auto;width:98%; background-color: #f1f1f1; border-collapse: collapse; line-height: 2;font-size:small;margin-top: 20px;margin-left: 10px;">
            <tbody></tbody>
        </table>
        <div style="text-align: center;margin-top: 20px;">
            <button id="asnVerifyBtn" style="width:250px;font-size:small;border:1px solid transparent;border-radius:5px;background-color:#004c97;" class="saveBtn" data-bind="click:verifyClick">Test for Verification</button>
        </div>
    </div>
</div>