﻿<div id="configDiv" class="transactionDIV table-responsive">
    <html>
    <head>
        <title></title>
    </head>
    <body>
        <div id="myform">
            <div align="center">
                <div class="configdiv">
                    <h1 class="configheader">Configuration Details</h1>
                </div>
                <div id="cofigtable" style="width: 95%; height: 450px; overflow-y: scroll; padding-left:0px;padding-right:0px; ">
                    <table id="configtable" class="ConfigTable" data-bind="visible: configDatas().length > 0">
                        <thead>
                            <tr>
                                <th data-bind="visible: false">Id</th>
                                <th>Configuration Item</th>
                                <th>Value</th>
                                <th>Description</th>

                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="configtbody" data-bind="foreach: configDatas">
                            <tr>
                                <td data-bind="text: Id, visible: false"></td>
                                <td data-bind="text: ConfigItem"></td>
                                <td data-bind="text: Value"></td>
                                <td data-bind="text: Description"></td>
                                @*<td data-bind="text: LastUpdatedBy"></td>
                                    <td data-bind="text: LastUpdatedDate"></td>*@
                                <td>
                                    <button class="myButton" data-bind="click: $root.editRow">Edit</button>
                                    <button class="myButton" data-bind="click: $root.deleteRow">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="addconfigdiv">
                    <a href="#" data-bind="click: $root.addRow" style="color:#004c97"> + Add New Configuration</a>
                </div>
            </div>
        </div>
    </body>
</html>
</div>