﻿<html>
<head>
    <title></title>
    <style>
        input.text {
            margin-bottom: 12px;
            width: 95%;
            padding: .2em;
        }
        /*.button:hover {
            background: #0066FF;
        }*/
    </style>

</head>
<body>
    <div id="dialog-editconfig" title="Edit Configuration" data-bind="if:configData">
        <form id="editconfig" name="editconfig" action="" method="get">
            <label for="Id" data-bind="visible: false">ID</label>
            <input type="text" name="Id" value="" id="Id" data-bind="value: configData().Id, visible: false" />
            <label for="Configuration Item">Configuration Item</label>
            <input type="text" data-bind="value: configData().ConfigItem" name="ConfigItem" id="ConfigItem" value="" class="text ui-widget-content ui-corner-all validate[required] " />
            <label for="value">Value</label>
            <input type="text" data-bind="value: configData().Value" name="Value" id="Value" value="" class="text ui-widget-content ui-corner-all validate[required] " />
            <label for="Description">Description</label>
           @* <input type="text" data-bind="value: configData().Description" width="50" name="Description" id="Description" value="" class="text ui-widget-content ui-corner-all validate[required] " />*@
            @*<textarea rows="4" cols="50" data-bind="value: $root.Description"></textarea>*@
            <textarea rows="4" cols="50" data-bind="value: configData().Description" name="Description" id="Description" class="text ui-widget-content ui-corner-all validate[required]"></textarea>
        </form>
    </div>
</body>
</html>