﻿<div class="container marginTop">
    <div id="ErrorEmailDiv" style="width: auto; font-size: 13px;">
        <div id="ErrorEmailPage" style="text-align: center; width: auto;height:auto">
            <table id="EmailErrorGrid"></table>
            <div id="EmailerrorPager" style="text-align: center"></div>
        </div>
        <br style="clear: both">
    </div>

</div>
<div id="errorfileContentDiv" style="display:none;" class="table-responsive">
    <div id="testJson">
        <table id="dataTable"></table>
    </div>
</div>