﻿@*<div id="menuBar">*@

@*<div id="toc-resizable-ew" class="toc-resizable-ew"></div>
<a id="NavigationResize" style="display: inline-block;">
    <div class="cl_nav_resize_open" title="Expand" style="display:none;"></div>
    <div class="cl_nav_resize_close" title="Minimize" style="display:none;" ></div>
</a>*@

    <div id="changePasswordDialog" style="display:none;z-index:100000" >
        <div class="input-group credentialsContainer" style="width: 200px;">

            <input placeholder="New Password" type="password" style="margin-left:30px" id="changePasswordNew" /><br />
        </div>
        <div class="input-group credentialsContainer " style="width:200px;">
            <input placeholder="Confirm Password" type="password" style="margin-left:30px" id="changePasswordConfirm" /><br />
        </div>
    </div>


