﻿@*<link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.common-material.min.css" />
<link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.material.min.css" />
<link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.dataviz.min.css" />
<link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.dataviz.material.min.css" />*@

<link href="~/Scripts/KendoUI/styles/kendo.common-material.min.css" rel="stylesheet" />
<link href="~/Scripts/KendoUI/styles/kendo.material.min.css" rel="stylesheet" />
<link href="~/Scripts/KendoUI/styles/kendo.dataviz.min.css" rel="stylesheet" />
<link href="~/Scripts/KendoUI/styles/kendo.dataviz.material.min.css" rel="stylesheet" />
<style>
    .someBoldClass{
        background-color:green;
    }
    .k-grid, .k-widget
    {
        font-family:Arial;
    }
        .k-grid .k-grid-header .k-header .k-link {
            height: auto;
        }

        .k-grid .k-grid-header .k-header {
            white-space: normal;
        }
</style>

<script src="http://cdn.kendostatic.com/2015.1.429/js/kendo.all.min.js"></script>
<div id="details"></div>
<div id="binDetails"></div>
<div style="margin-top:-433px;margin-left:155px;" id="kendoUIGridDiv">
    <div id="grid"></div>
</div>
 
