﻿<!--container for Welcome Screen starts here --->
<div class="container transactionDIV table-responsive" style="">

    <div id="LineContentView" style="width: 100%; height: auto;">
        <div id="LinewelcomeHeader" class="lineContentTopDiv">
            <div class="row welcomeControlpadding">
                <div class="col-sm-2 col-md-2">  <input type="radio" id="totalRecordsRB" onclick="RBClick(this)" checked="checked" name="lineEditList" value="1"><font size="3">Total Records</font></div>
                <div class="col-sm-2 col-md-2">
                    <input type="radio" id="errorRecordsRB" onclick="RBClick(this)" name="lineEditList" value="0"><font size="3">Error Records</font>
                </div>
                <div class="col-sm-2 col-md-2">
                    <input type="button" id="transactionFileButton" class="btn btn-primary" value="Download Error File" data-bind="click: onDownloadErrorFileClick" />
                </div>
                <div class="col-sm-2 col-md-3">
                    <input type="button" id="transactionFileButton" class="btn btn-primary" value="Download Transaction Details" data-bind="click: onDownloadTransactionClick" />
                </div>
                <div class="col-sm-2 col-md-1">
                    <input type="button" id="KendoUIBack" class="btn btn-primary hide" value="Back" data-bind="click: function(data, event) { backToTransaction(1)}">
                </div>
            </div> 
        </div>

        <div id="TransactionLineContentPagerDiv" style="width: 100%;margin-top: 25px;margin-bottom: 25px;">
            <div style="text-align: center; margin: auto; padding-right: 1%; padding-left: 1%; margin-top: 20px">
                <table id="TransactionLineContentGrid"></table>
                <div id="transactionLineContentPager" style="text-align: center"></div>
            </div>
            <br style="clear: both">
        </div>
        <div id="KendoUIDiv" class="KendoUIDivLineStyle">
            <div id="details"></div>
            <div id="binDetails"></div>
            <div id="kendoUIGridDiv">
                <div id="gridLineContent"></div>
            </div>
            <div class="row lineContentContainer">                
                <input type="button" id="KendoUISubmitVerifiedErrorbtn" class=" btn btn-primary hide" value="Submit Verified Error " data-bind="click:function(data, event) { submitDataKendoUI(1)}" />
                <input type="button" id="KendoUISubmitVerifiedbtn" class="btn btn-primary hide" value="Submit Verified Records" data-bind="click:function(data, event) { submitDataKendoUI(2)}" />
                <input type="button" id="KendoUISubmitProcessedErrorLineBTN" class="btn btn-primary hide" value="Submit Processed Error" data-bind="click:function(data, event) { submitDataKendoUI(3)}" />
                <input type="button" id="KendoUIdeleteLineBTN" value="Delete Verified Error" class="btn btn-primary hide" data-bind="click: onDeleteLineClick" />
            </div>
        </div>

        <div style="width:100%" id="LineContentAction">

            <div style="margin-left:400px;margin-top:-20px;">

                <div id="backtoTransBatch" style="width:30%;display:inline">
                    <input type="button" id="backBTNtoTransBatch" value="Back" style="height: 30px;font-size:small; margin-bottom: 20px; width: 120px; border: none; background-repeat: no-repeat; margin: 5px auto; background-size: 120px 30px; background-color: #004c97;border-radius:5px; color: white" data-bind="click: onBackBTNClick" />
                </div>
                <div id="submitVerifiedData" style="width:30%;display:inline">
                    <input type="button" id="submitVerifiedBTN" value="Submit Verified Records" style="height: 30px; font-size: small; margin-bottom: 20px; width: 180px; border: none; background-repeat: no-repeat; margin: 5px auto; background-size: 120px 30px; background-color: #004c97; border-radius: 5px; color: white" data-bind="click: onSubmitVerify" />
                </div>

                <div id="submitVerifiedErrorLine" style="width:30%;display:inline">
                    <input type="button" id="submitVerifiedErrorLineBTN" value="Submit Verified Error" style="height: 30px; font-size: small; margin-bottom: 20px; width: 180px; border: none; background-repeat: no-repeat; margin: 5px auto; background-size: 120px 30px; background-color: #004c97; border-radius: 5px; color: white" data-bind="click: onVerifiedErrorLineSubmitClick" />
                </div>

                <div id="submitProcessedErrorLine" style="width:30%;display:inline">
                    <input type="button" id="submitProcessedErrorLineBTN" value="Submit Processed Error" style="height: 30px; font-size: small; margin-bottom: 20px; width: 180px; border: none; background-repeat: no-repeat; margin: 5px auto; background-size: 120px 30px; background-color: #004c97; border-radius: 5px; color: white" data-bind="click: submitSAPErrorData" />
                </div>

                <div id="deleteLine" style="width:30%;display:inline;">
                    <input type="button" id="deleteLineBTN" value="Delete Verified Error" style="height: 30px; font-size: small; margin-bottom: 20px; width: 180px; border: none; background-repeat: no-repeat; margin: 5px auto; background-size: 120px 30px; background-color: #004c97; border-radius: 5px; color: white" data-bind="click: onDeleteLineClick" />
                </div>
            </div>
        </div>

    </div>

</div>

<div id="box" style="overflow:auto;">
</div>

<style>
    #box
    {
        overflow:auto !important;
    }
</style>