﻿<div id="loginDiv" >

    <div class="container">
        <div class="col-md-5">
            <img src="~/Images/goodpack-lg-logo.png" alt="GOODPACK" class="logo" />
            <h2>HIRE <span class="text-success"> LOCALLY,</span> DEHIRE <span class="text-success"> GLOBALLY</span></h2>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-2">
                <form action="" class="">
                    <div class="form-group">
                        <input type="text" placeholder="User Name" class="form-control" data-bind='value: Username,valueUpdate: "afterkeydown"' />
                    </div>
                    <div class="form-group">
                        <input type="password" id="loginPasswrd" placeholder="Password" class="form-control" data-bind='value: Password,valueUpdate: "afterkeydown"' />
                    </div>
                    <button class="btn btn-block btn-success " data-bind="click:btnLoginClick" type="submit"> Log On</button>
                </form>

            </div>
        </div>
    </div>
</div>