﻿@{
    Layout = null;
}

@model GoodpackEDI.Models.LSPCRModel


<link href="~/Content/themes/metroblue/jquery-ui.css" rel="stylesheet" type="text/css" />
@*<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>*@


    <script src="~/Scripts/jquery-1.9.0.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui-1.9.2.min.js" type="text/javascript"></script>
    <script src="~/Scripts/modernizr-2.6.2.js" type="text/javascript"></script>

@*----App Style Sheets Ends*@
<script type="text/javascript">
    var pathname = location.pathname.substring(location.pathname.length - 1, location.pathname.length) == '/' ? location.pathname.substring(0, location.pathname.length - 1) : location.pathname
    var baseUrl = location.protocol + "//" + location.hostname + (location.port && ":" + location.port);
    var totalUrl = baseUrl + '/' + pathname.split('/')[1];
</script>


<div id="home" style="display: block; background-color: #f8f8f8">
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td style="text-align: center; width: 100%">
                    <img style="height: 50px; padding: 20px 0 20px 0px;" id="headerLogo" class="title" src="/Images/newlogoTitle.png">
                </td>
            </tr>
        </tbody>
    </table>
    <script>
        $('#headerLogo').attr('src', totalUrl + "/Images/newlogoTitle.png");
    </script>
</div>

<div style="margin:25px">
    <label style="font-size:larger;color:red">@Model.Message</label>
</div>

