﻿@{
    Layout = null;
}

@model GoodpackEDI.Models.LSPCRModel


<link href="~/Content/themes/metroblue/jquery-ui.css" rel="stylesheet" type="text/css" />
@*<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>*@


    <script src="~/Scripts/jquery-1.9.0.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui-1.9.2.min.js" type="text/javascript"></script>
    <script src="~/Scripts/modernizr-2.6.2.js" type="text/javascript"></script>
<script type="text/javascript">
    var pathname = location.pathname.substring(location.pathname.length - 1, location.pathname.length) == '/' ? location.pathname.substring(0, location.pathname.length - 1) : location.pathname
    var baseUrl = location.protocol + "//" + location.hostname + (location.port && ":" + location.port);   
    var totalUrl = baseUrl + '/'+pathname.split('/')[1];
</script>

@Scripts.Render("~/Scripts/EDIScripts/LSPCR.js?v=1")

@*----App Style Sheets Ends*@

<style>
    #ui-datepicker-div
    {
        font-size:12px
    }
</style>

<div id="home" style="display: block; background-color: #f8f8f8">
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td style="text-align: center; width: 100%">
                    <img style="height: 50px; padding: 20px 0 20px 10px;" class="title" id="headerLogo" src="../Images/newlogoTitle.png" alt="GOODPACK" title="GOODPACK">
                </td>
            </tr>
        </tbody>
    </table>
    <script>
        $('#headerLogo').attr('src', totalUrl + "/Images/newlogoTitle.png");
    </script>
</div>

<div id="LSPCR" style="/*overflow-y: scroll; overflow-x: hidden; */height: auto; margin-top: 20px">
    <div style="width: auto; height: auto; margin-bottom: 2%">

        <table id="LSPCRTable" style="width: 450px; border: 1px solid black; margin: auto; background-color: #f8f8f8; border-collapse: collapse; line-height: 2">

@*            <thead style="background-color: #e2e2e2">
                <tr style="border: 1px solid black">
                    <th style="border: 1px solid black; width: 50%">Field Name</th>
                    <th style="border: 1px solid black; width: 50%">Value</th>
                </tr>
            </thead>*@
            <tbody style="font-family:Arial;font-size:small" >
                <tr style="border: 1px solid black">
                    <th style="border: 1px solid black; width: 50%">Job Id</th>
                    <th style="border: 1px solid black; width: 50%">@Model.JobId</th>
                </tr>
                <tr style="border: 1px solid black">
                    <th style="border: 1px solid black; width: 50%">Vendor</th>
                    <th style="border: 1px solid black; width: 50%">@Model.Vendor</th>
                </tr>
                <tr style="border: 1px solid black">
                    <th style="border: 1px solid black; width: 50%">Name</th>
                    <th style="border: 1px solid black; width: 50%">@Model.Name</th>
                </tr>
                <tr style="border: 1px solid black">
                    <th style="border: 1px solid black; width: 50%">From</th>
                    <th style="border: 1px solid black; width: 50%">@Model.From</th>
                </tr>            
                <tr style="border: 1px solid black">
                    <th style="border: 1px solid black; width: 50%">From Address</th>
                    <th style="border: 1px solid black; width: 50%">@Model.FromAddress</th>
                </tr>
                <tr style="border: 1px solid black">
                    <th style="border: 1px solid black; width: 50%">To</th>
                    <th style="border: 1px solid black; width: 50%">@Model.To</th>
                </tr>
                <tr style="border: 1px solid black">
                    <th style="border: 1px solid black; width: 50%">To Address</th>
                    <th style="border: 1px solid black; width: 50%">@Model.ToAddress</th>
                </tr>
                <tr style="border: 1px solid black">
                    <th style="border: 1px solid black; width: 50%">SKU</th>
                    <th style="border: 1px solid black; width: 50%">@Model.SKU</th>
                </tr>
                @*<tr style="border: 1px solid black">
                    <th style="border: 1px solid black; width: 50%">Quantity</th>
                    <th style="border: 1px solid black; width: 50%">@Model.Quantity</th>
                </tr>*@
                <tr style="border: 1px solid black">
                    <th style="border: 1px solid black; width: 50%">ITR Quantity</th>
                    <th style="border: 1px solid black; width: 50%">@Model.ItrQuantity</th>
                </tr>
                <tr style="border: 1px solid black">
                    <th style="border: 1px solid black; width: 50%">Proposed PickUp Date</th>
                    <th style="border: 1px solid black; width: 50%">@Model.ProposedPickUpDate</th>
                </tr>
                <tr style="border: 1px solid black">
                    <th style="border: 1px solid black; width: 50%">Confirmed PickUp Date</th>
                    <th>
                        <input type="text" value="@Model.ConfirmedPickUpDate" id="PickUpDate"  style="height: 90%; width: 150px; border: 1px solid #0096db;text-align:center" readonly="true" />
                        <img id="test" src="~/Images/dayPickerS.png" onclick="pickupDeliveryDateClick()" style="vertical-align: bottom; margin-bottom: 4px" />
                    </th>
                </tr>          
                <tr style="border: 1px solid black">
                    <th style="border: 1px solid black; width: 50%">Remarks</th>
                    <th style="border: 1px solid black; width: 50%">@Model.Remarks</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div style="width:100%;margin-top:5px">
 <button type="button" style="background-color: #0096db; width: 20%; margin-left:40%; height: 40px; color: white" onclick="submitLSPCRClick()">Submit Data</button>
</div>
