﻿<div class="divReport table-responsive">
    <div class="row divPaddingBtm">
        <div class="col-sm-4 col-md-2">
            <label style="float: right;">Select Transaction</label>
        </div>
        <div class="col-sm-4 col-md-4">
            <select id=" ddtransactionnamereport" class="dropdown controleWidth" data-bind="chosen: availableTransactions, optionsText: 'EntityName', selectedOptions: selectedTransactionValueReport, optionsCaption: 'Select Transaction', optionsAfterRender: function (option, transaction) { ko.applyBindingsToNode(option, { disable: !transaction }, transaction) }"></select>
        </div>
    </div>
        <script>
            $('#DDTransactionNameReport').chosen();
        </script>
        <div id="divKendoReport">

        </div>
    </div>
