﻿<div class="transactionDIV">
    <table class="centerTable">
        <tr>
            <td style="min-width:400px">
                <button id="hqUser" data-bind="click:hqUserClick" class="RoleBtn">HQ User</button>

            </td>
            @*<td style="min-width:400px">
                    <button id="hqAdminUser" data-bind="click:hqAdminClick" class="RoleBtn">HQ Admin User</button>
                </td>*@
            <td style="min-width:400px">
                <button id="subsiUser" data-bind="click:subsiUserClick" class="RoleBtn">Subsi User</button>
            </td>
        </tr>
    </table>
    <table class="background">
        <tr class="Mappingbackground">
            <td>
                <label style="color:#004c97;font-weight:500;font-size:small;"> All Privileges</label>
            </td>

            <td></td>
            <td>
                <label style="color:#004c97;font-weight:500;font-size:small;">Mapped Privileges</label>
            </td>
        </tr>
        <tr>
            <td>
                <select class="previlegeLabels" multiple="multiple" height="8" data-bind="options:privileges, optionsText: 'PrivilegeName',selectedOptions:selectedPrivilege"> </select>
                @*<ol id="selectable" data-bind="foreach: privileges">
                          <li class="previlegeLabels" data-bind="optionsText: PrivilegeName,value:selectedPrivilege"></li>
                    </ol> *@
            </td>
            <td>
                <button data-bind="click:rightArrow" class="rightArrow" style="
                        background-color:white;"></button><br />
                <button data-bind="click:leftArrow" class="leftArrow" style="
                        background-color:white;"></button>

            </td>
            <td>
                <select class="previlegeLabels" multiple="multiple" height="8" data-bind="options:mappedPrevileges, optionsText: 'PrivilegeName',selectedOptions:mappedPrivilege"> </select>
                @*<ol id="previlegeList" data-bind="foreach: mappedPrevileges">
                    <li class="previlegeLabels" data-bind="text: PrivilegeName"></li>
                </ol>*@                

            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                <button class="saveBtn" data-bind="click:roleSaveClick">Save</button>
            </td>
            <td></td>

        </tr>

    </table>
</div>