﻿<div class="row table-responsive paddingTop">
    <table class="background">
        <tr class="Mappingbackground">
            <td>
                <label> SAP Fields</label>
            </td>

            <td> <label>Input File Headers</label></td>
            <td></td>
            <td>
                <label>Mapped Fields</label>
            </td>
        </tr>
        <tr>
            <td>
                <select id="sapFieldData" class="selectableList" multiple="multiple" height="8" data-bind="options:sapFields, optionsText:'FieldName',selectedOptions:selectedField"></select>
            </td>
            <td>
                <select class="selectableList" multiple="multiple" height="8" data-bind="options:headers, optionsText: 'HeaderName',selectedOptions:selectedHeader"> </select>

            </td>
            <td>
                <button data-bind="click:rightHeaderArrow" class="rightArrow"></button><br />
                <button data-bind="click:leftHeaderArrow" class="leftArrow"></button>

            </td>
            <td>
                <select class="selectableList" multiple="multiple" height="8" data-bind="options:mappedHeaders, optionsText:'MappedField',selectedOptions:selectedMappedHeaders"></select>

            </td>
        </tr>
        <tr id="dateRow" class="Mappingbackground">
            <td colspan="4">
                <label>Date Format:</label>
                <label class="mandatory">*</label>
                <input class="dateFormatInput" data-bind="value:dateFormat" />
            </td>
        </tr>
        <tr id="ftpEnableRow" class="Mappingbackground">
            <td colspan="3">
                <div class="row">
                    <div class="col-sm-5 col-md-5"></div>
                    <div class="col-sm-2 col-md-2"><b>Enable FTP :</b></div>
                    <div class="col-sm-1 col-md-1">
                        <input style="width:25px;height:25px" type="checkbox" data-bind="checked:isEnableFTPForMapper" id="chkFTPConfig" /><br>
                    </div>
                    <div class="col-sm-4 col-md-4" style="display:none;" id="divAddFtpConfig">
                        <a id="linkAddFtpConfig" style="cursor:pointer;">Add/Edit FTP Configuration</a>
                    </div>
                </div>
            </td>
            <td colspan="1"></td>
</tr>
        <tr id="emailIdRow" class="Mappingbackground">
            <td colspan="4">
                <div class="leftlabelemailstyle">Email Id's:</div>
                <div class="dropdownEmailDiv"><textarea style=" margin-right: 250px; " rows=" 4" cols="30" id="multiemailids" class="emailFormatInput" data-bind="value:emailIds,valueUpdate:'change'"></textarea></div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="assignValue" style="width:30%;display:inline;">
                    <button class="saveBtn" id="assignBTN" data-bind="click:assignValueClick">Assign Values</button>
                </div>
            </td>

            <td>
                <div id="backToMapper" style="width:30%;display:inline;">
                    <input type="button" id="backToMapperBtn" value="Back" class="saveBtn" data-bind="click: onBackBtnToMappingClick">
                </div>
            </td>

            <td></td>
            <td>
                <button class="saveBtn" data-bind="click:mappingSaveClick">Save</button>
            </td>

        </tr>


    </table>
</div>
<script>
    $(document).ready(function () {
        $('#chkFTPConfig').bind("click", function (e) {
            if ($('#chkFTP').prop('checked') == true) {
                $('#divAddFtpConfig').show();
            }
            else {
                $('#divAddFtpConfig').hide();
            }
        });
        $('#chkFTPConfig').change(function () {
            if (this.checked) {
                $('#divAddFtpConfig').show();
            }
        });
        AppViewModel.isEnableFTPForMapper.subscribe(function (newValue) {
            if (newValue == true) {
                $('#divAddFtpConfig').show();
            }
            else {
                $('#divAddFtpConfig').hide();
            }
        });
        $('#linkAddFtpConfig').bind("click", function (e) {
            $('#addConfigDialog').removeClass('hide');
            $('#addConfigDialog').dialog({
                modal: true, zIndex: 50000,
                width: 630,
                height: 500,
                buttons: {
                    "Save": {
                        click: function () {
                            validateFTP();
                            $(this).dialog("close");
                        },
                        text: 'Save',
                        class: 'custom'
                    },
                    Cancel: {
                        click: function () {
                            $(this).dialog("close");
                        },
                        text: 'Cancel',
                        class: 'custom'
                    }
                }
            })
        });
    });
</script>