﻿<div class="table-responsive">
    <table id="scResultTable" class="marginSC">
        <tbody></tbody>
    </table>
    <div style="text-align: center;margin-top: 20px;">
        <button id="scSubmit" class="btn btn-primary" data-bind="click:scSubmitSuccessClick">Submit Success Cases</button>
    </div>
</div>