﻿<div  class="table-responsive">
    <table id="soResultTable" class="table table-bordered table-striped " style="min-width: 1050px; border: 1px solid black; margin: auto;width:98%; background-color: #f8f8f8; border-collapse: collapse; line-height: 1.5;font-size:small;margin-top: 20px;margin-left: 10px;">
        <tbody></tbody>
    </table>
</div>