﻿<!--container for SO Screen starts here --->
<div class="container table-responsive">
    <div class="row">
        <div id="SOTabView" style="width: 100%; height: auto; border: 1px solid transparent;padding-top:30px;padding-left:40px;">
            <div>
                <div class="col-sm-3 col-md-2">
                    <button title=" to create new sales order" id="newSOBTN" type="button" style="width: 150px; color: #ffffff; border: 1px solid transparent; height: 34px; background-color: #004c97; font-size: 12px; border-radius: 5px;" data-bind="click: onNewOrderClick">
                        New Order
                    </button>
                </div>
                <div class="col-sm-3 col-md-2">
                    <button title="To view sales order" id="viewSOBTN" type="button" style="width: 150px; color: #ffffff; border: 1px solid transparent; height: 34px; background-color: #004c97; font-size: 12px; border-radius: 5px;" data-bind="click: onViewOrderClick">View Order</button>
                </div>
                <div class="col-sm-3 col-md-2">
                    <button title=" to upload sales order" id="editSOBTN" type="button" style="width: 150px; color: #ffffff; border: 1px solid transparent; height: 34px; background-color: #004c97; font-size: 12px; border-radius: 5px; " data-bind="click: onEditSOClick">Edit Order</button>

                </div>
                <div class="col-sm-3 col-md-2">
                    <button title=" to upload sales order" id="cancelSOBTN" type="button" style="width: 150px; color: #ffffff; border: 1px solid transparent; height: 34px; background-color: #004c97; font-size: 12px; border-radius: 5px; " data-bind="click: onCancelSOClick">Cancel Order</button>
                </div>
                <div class="col-sm-3 col-md-2">
                    <button title="To upload sales order" id="uploadSOBTN" type="button" style="width: 150px; color: #ffffff; border: 1px solid transparent; height: 34px; background-color: #004c97; font-size: 12px; border-radius: 5px; " data-bind="click: onUploadSOClick">File Upload</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-left:20px;margin-right:20px;margin-top:5px;">
        <div id="AddnewSO" style="border: 1px solid transparent; width: 100%; height: auto; margin: auto; margin-bottom: 2%;">
            <div id="SOInputFileds" class="newOrder">
                <div class="row paddingnewOrder">
                    <div class="col-sm-3 col-md-3">Select Customers<select id="DDcustomer" class="soDropdown" data-bind="chosen: customers, optionsText: 'EntityName', selectedOptions: selectedCustomerValue, optionsCaption: 'Select Customer', optionsAfterRender: function (option, customer) { ko.applyBindingsToNode(option, { disable: !customer }, customer) }"></select></div>
                    <div class="col-sm-3 col-md-3">Select Delivery Location<select class="soDropdown" id="DDpacker" data-bind="chosen: selectedPacker, optionsText: 'EntityName', selectedOptions: selectedPackerValue, optionsCaption: 'Select Delivery Location', optionsAfterRender: function (option, selectedPackerValue) { ko.applyBindingsToNode(option, { disable: !selectedPackerValue }, selectedPackerValue) }"></select></div>
                    <div class="col-sm-3 col-md-3">Select SKU<select class="soDropdown" id="DDBIN" data-bind="chosen: selectedBIN, optionsText: 'name', selectedOptions: selectedBINValue, optionsCaption: 'SKU', optionsAfterRender: function (option, selectedBINValue) { ko.applyBindingsToNode(option, { disable: !selectedBINValue }, selectedBINValue) }"></select></div>
                    <div class="col-sm-3 col-md-3">
                        Start Date
                        <div class="datepiackeNew">
                            <div class='input-group date' >
                                <input type='text' class="form-control" id='dtDeliveryStart' />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar datePickerColor"></span>
                                </span>
                            </div>
                        </div>
                        @*<div class="viewSOinputDiv" style="width:100%;margin-top:5px">
                            <label style="float: left; color: black; font-size: small; margin-top: 5px; font-weight: 100; color: #004c97; ">From Date  :</label>
                            <input type="text" id="dtDeliveryStart" style="height: 90%; width: 150px; color: #004c97; border: 1px solid #ccc; padding-left: 5px" />
                            <img src="~/Images/dayPickerS.png" onclick="fromDeliveryDateClick()" style="vertical-align: bottom; margin-bottom: 4px" />
                        </div>*@
                    </div>

                    <script>
                        $('#DDcustomer').chosen();
                        $('#DDpacker').chosen();
                        $('#DDBIN').chosen();
                    </script>
                </div>
                <div class="row paddingnewOrder">
                    <div class="col-sm-3 col-md-3">
                        Total Qty
                        <input placeholder="Key in Total Qty" class="textbx" style="width: 100%; padding-left:7px; border: 1px solid #ccc" onkeypress="return isNumberKey(event)" type="text" data-bind="value: totalQty" />
                    </div>
                    <div class="col-sm-3 col-md-3">
                        Number of Trucks per day
                        <input placeholder="Number of Trucks per day" class="textbx" style="width: 100%; padding-left: 7px; border: 1px solid #ccc" onkeypress="return isNumberKey(event)" @*class="username loginCredentials"*@ type="text" data-bind="value: truckQty" />
                    </div>
                    <div class="col-sm-3 col-md-3">
                        Qty per truck
                        <input placeholder="Qty per truck" class="textbx" style="width: 100%; padding-left: 7px;  border: 1px solid #ccc" onkeypress="return isNumberKey(event)" @*class="username loginCredentials"*@ type="text" data-bind="value: qtyperTruck" />
                    </div>
                    <div class="col-sm-3 col-md-3 paddingTop">
                        <button type="button" class="btn btn-primary " data-bind="click: onSOGenerateClick">Generate order for Verification</button>
                    </div>
                </div>

            </div>

            <div id="SOtable" style="/*overflow-y: scroll; overflow-x: hidden; */height: auto;">
                <div style="width: auto; height: auto; margin-bottom: 2%">
                    <table id="SOCreateTable" class="table table-bordered">
                        <thead style="background-color: #6996c2">
                            <tr style="border: 1px solid black">
                                <th style="border: 1px solid black">Customer Code</th>
                                <th style="border: 1px solid black">Delivery Location</th>
                                <th style="border: 1px solid black">Delivery Date</th>
                                <th style="border: 1px solid black">SKU</th>
                                <th style="border: 1px solid black">Qty</th>
                                <th style="border: 1px solid black">Customer PO No</th>

                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div style="width: auto; height: auto; margin-bottom: 2%">                    
                    <button type="button" class="textbx" style="background-color: #004c97; width: 150px; height: 35px; font-size:small;border:5px solid transparent;border-radius:5px;color: white; display: block; margin: auto" data-bind="click: onCreateOrderClick">Create Order</button>
                </div>
            </div>
        </div>
    </div>

    <div id="viewSO" class="row viewOrder">
        <div class="viewOrderDiv">
            <div class="row">
                <div class="col-sm-3 col-md-3">
                    Select Customer
                <select id="DDViewcustomer" class="soDropdown" style=" padding-left: 1px; padding-top: 1px" data-bind="chosen: availableEntity, optionsText: 'EntityName', selectedOptions: selectedEntityValue, optionsCaption: 'Select Customer', optionsAfterRender: function (option, customer) { ko.applyBindingsToNode(option, { disable: !customer }, customer) }"></select></div>
                <div class="col-sm-3 col-md-3">
                    From Date (ETD)
                    <div class='input-group date'>
                        <input type='text' class="form-control" id="dt1" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar datePickerColor"></span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    To Date (ETD)
                    <div class='input-group date'>
                        <input type='text' class="form-control" id="dt2" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar datePickerColor"></span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 paddingTop">
                    <button class="btn btn-primary" type="button" id="salesBtnSearch">Show Data</button>
                </div>
            </div>
            <script>
                $('#DDViewcustomer').chosen();
            </script> 
            <div class="row">
                <div id="salesOrderDiv" style="width: 100%;">
                    <div style="text-align: center; margin: auto; padding-top:20px;">
                        <table id="SalesOrderGrid"></table>
                        <div id="salesPager" style="text-align: center"></div>
                    </div>
                    <br style="clear: both">
                </div>
            </div>
            </div>



    </div>

    <div class="row" style="margin-left:20px;margin-right:20px;margin-top:5px;">
        <div id="EditSO" style="border: 1px solid transparent; width: 100%; height: auto; margin: auto; margin-bottom: 2%;">
            <div id="EditSOInputFileds" >
                @*<div style="width: 100%; height: 90px; background-color: #d9e4f0;">*@
                @*<div style="width: 100%; height: 50px; background-color: #d9e4f0;">*@
                <div id="accordion" class="panel-group" >
                    <div class=" panel panel-default">
                    <div class="panel-heading" id="divcollapseOne" style="background-color: #c2ddb6; color: #004c97; font-size: small" onclick="divClickEvent2(this)">
                        <u class="panel-title" style="font-size:small;">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Search Orders</a>
                        </u>
                    </div>
                        <div id="collapseOne" class="panel-collapse collapse in" style="background-color:#d9e4f0;">
                            <div class="row panel-body" id="searchorders">
                                <div class="col-sm-3 col-md-3">
                                    Select Customer
                                <select id="DDEditcustomer" class="soDropdown" style=" padding-left: 1px; padding-top: 1px" data-bind="chosen: availableEntity, optionsText: 'EntityName', selectedOptions: selectedEntityValue, optionsCaption: 'Select Customer', optionsAfterRender: function (option, customer) { ko.applyBindingsToNode(option, { disable: !customer }, customer) }"></select></div>
                                <div class="col-sm-3 col-md-3">
                                    From Date (ETD)
                                    <div class="datepiackeNew">
                                        <div class='input-group date'>
                                            <input type='text' class="form-control" id='dtEdit1' />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar datePickerColor"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    To Date (ETD)
                                    <div class="datepiackeNew">
                                        <div class='input-group date'>
                                            <input type='text' class="form-control" id='dtEdit2' />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar datePickerColor"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 paddingTop">
                                    <button type="button" id="salesBtnSearchEdit" class="btn btn-primary" data-bind="click: onSOEditViewOrderClick">Show Data</button>
                                </div>
                            </div>
                        </div>
                    <script>
                        $('#DDEditcustomer').chosen();
                    </script>
                </div>

                </div>
                @*<input type="radio" id="massEdit" onclick="massEditReason()" style="margin-top: 30px;float:left;width:20px;height:20px;display:inline;margin-left:50px" name="SOEditList">
                    <font size="2" color="#000090" style="margin-top:30px;margin-left:10px;float:left;">Edit Fields</font>*@
                @*</div>*@

                <div class="panel panel-default" style="margin-top:-10px">
                    <div class="panel-heading" id="divcollapseTwo" style="background-color: #c2ddb6; color: #004c97; font-size: small" onclick="divClickEvent2(this)">
                        <u class=" panel-title" style="font-size:small">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Edit Orders</a>
                        </u>
                    </div>
                    <div id="collapseTwo" class="">
                        <div class="panel-body editField">
                            @*<div id="MassEditDiv" style="width: 100%; margin-top:-40px; height: 90px; background-color: #d9e4f0; float: left">*@
                            @*<input type="radio" id="massEdit" onclick="massEditReason()" style="margin-top: 30px;float:left;width:20px;height:20px;display:inline;margin-left:50px" name="SOEditList">*@
                            @*<font size="2" color="#000090" style="margin-top:30px;margin-left:10px;float:left;">Show Editable Fields</font>*@
                            <div id="editFields">
                                <div class="col-sm-3 col-md-3">
                                    Material No  <select id="EditBINType" style="width: 100%; padding-left:7px;height: 26px; border: 1px solid #ccc" data-bind="chosen: selectedBIN, optionsText: 'name', selectedOptions: selectedBINValue, optionsCaption: 'Select Material No', optionsAfterRender: function (option, selectedBINValue) { ko.applyBindingsToNode(option, { disable: !selectedBINValue }, selectedBINValue) }"></select>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    Quantity
                                    <input placeholder="Quantity" class="textbx" style="width: 100%; padding-left: 7px; height: 26px; border: 1px solid #ccc" onkeypress="return isNumberKey(event)" type="text" data-bind="value: editSOQty" />
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    Start Date
                                    <div class="datepiackeNew">
                                        <div class='input-group date' id="divreqDate">
                                            <input type='text' class="form-control" id='reqDate' />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar datePickerColor"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <button type="button" id="massEditSubmit" class="btn btn-primary paddingTop" onclick="massEditSubmitClick()">Submit</button>
                                    <u id="refersh" style="font-size:small;color:#000090;cursor:pointer;padding-left:20px" onclick="refresh()">Clear All</u>
                                </div>

                            </div>
                        </div>
                    </div>
                    <script>
                        $('#EditBINType').chosen();
                        $('#collapseTwo').addClass('panel-collapse collapse');
                    </script>

                </div>
                <br style="clear: both">
            </div>
            <div id="salesOrderDiv2" style="width: 100%;">
                <div >
                    <table id="SalesOrderEditGrid"></table>
                    <div id="salesPager2" style="text-align: center"></div>
                </div>
                <br style="clear: both">
            </div>
        </div>
    </div>

    <div class="row" style="margin-left:20px;margin-right:20px;margin-top:5px;">
        <div id="CancelSO" style="border: 1px solid transparent; width: 100%; height: auto; margin: auto; margin-bottom: 2%;">
            <div id="CancelSOInputFileds" class="cancelOrder">
                @*<div style="width: 100%; height: 50px; background-color: #d9e4f0;">*@

                @*<input type="radio" id="massEdit" onclick="massEditReason()" style="margin-top: 30px;float:left;width:20px;height:20px;display:inline;margin-left:50px" name="SOEditList">
            <font size="2" color="#000090" style="margin-top:30px;margin-left:10px;float:left;">Edit Fields</font>*@
                @*</div>*@
                <div class="col-sm-3 col-md-3">
                    Select Customer<select id="DDCancelcustomer" class="soDropdown" style=" padding-left: 1px; padding-top: 1px" data-bind="chosen: availableEntity, optionsText: 'EntityName', selectedOptions: selectedEntityValue, optionsCaption: 'Select Customer', optionsAfterRender: function (option, customer) { ko.applyBindingsToNode(option, { disable: !customer }, customer) }"></select>
                </div>
                <div class="col-sm-3 col-md-3">
                    From Date (ETD)
                    <div class="datepiackeNew">
                        <div class='input-group date'>
                            <input type='text' class="form-control" id='dtCancel1' />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar datePickerColor"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    To Date (ETD)
                    <div class="datepiackeNew">
                        <div class='input-group date'>
                            <input type='text' class="form-control" id='dtCancel2' />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar datePickerColor"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <button type="button" id="salesBtnSearchCancel" class="btn btn-primary paddingTop" data-bind="click: onShowDataSOClick">Show Data</button>
                    <button type="button" id="cancelSalesOrder" class="btn btn-primary" data-bind="click: onSOCancelOrderClick" style="display:none;">Cancel Sales Order</button>
                </div>
            </div>
            <script>
                $(DDCancelcustomer).chosen();
            </script>
            <div id="salesOrderDiv2" style="width: 100%;">

                <div style="text-align: center; margin: auto; padding-right: 1%; padding-left: 1%; margin-top:170px">
                    <table id="SalesOrderCancelGrid"></table>
                    <div id="salesPager3" style="text-align: center"></div>
                </div>
                <br style="clear: both">
            </div>


        </div>
    </div>

    <div class="row" style="margin-left:20px;margin-right:20px;margin-top:5px;">
        <div id="UploadSO" style="border: 1px solid transparent; width: 100%; height: auto; margin: auto;">
            <div id="SOUploadInputFileds" >
                <div id="accordion1" class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading" id="divcollapseThree" style="background-color: #c2ddb6; color: #004c97; font-size: small" onclick="divClickEvent(this)">
                            <u class="panel-title" style="font-size:small;">
                                <a data-toggle="collapse" data-parent="#accordion1" href="#collapseThree">New Orders</a>
                            </u>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse in">
                            <div class="panel-body" style="width: 100%; height: auto; font-weight: 100; font-size: small;  background-color: #d9e4f0">

                                <div class="row">
                                    <div class="col-sm-4 col-md-4">
                                        Select Subsi <select id="DDUploadSOcustomer" class="soDropdown" data-bind="chosen: mappedSOSubsiData, optionsText: 'SubsiName', selectedOptions: selectedMapSOSubsi, optionsCaption: 'Select Subsi', optionsAfterRender: function (option, customer) { ko.applyBindingsToNode(option, { disable: !customer }, customer) }"></select>
                                    </div>
                                    <div class="col-sm-5 col-md-5">
                                        Select Mapper<select class="soDropdown" style="left: 20%" id="DDUploadSOMapper" data-bind="chosen: selectedSOMapper, selectedOptions: selectedSOMaperValue, optionsCaption: 'Select Mapper', optionsAfterRender: function (option, selectedSOMaperValue) { ko.applyBindingsToNode(option, { disable: !selectedSOMaperValue }, selectedSOMaperValue) }"></select>
                                    </div>
                                </div>
                                <div class="row uploadOrder">
                                    <div class="col-sm-4 col-md-4">
                                        <div style="width:250px;"><form id="fileUploadSOform"><input type="file" name="file" id="sofile" class="filestyle" data-size="sm" data-buttonname="btn-primary" data-bind="value: uploadSOFileName"></form><br></div>
                                    </div>
                                    <div class="col-sm-5 col-md-5">
                                        <span style="float: left;padding-top: 5px;">CustomerPODate</span>
                                        <div class="datepiackeNew">
                                            <div class='input-group date'>
                                                <input type='text' class="form-control" id='dtCustPO' />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar datePickerColor"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-1 col-md-1">
                                        <button type="button" class="btn btn-primary" data-bind="click: onSOUploadClick">Show Data</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script>

                            $('#DDUploadSOcustomer').chosen();
                            $('#DDUploadSOMapper').chosen();
                        </script>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" id="divcollapseFour" style="background-color: #c2ddb6; color: #004c97; font-size: small;" onclick="divClickEvent(this)">
                        <u class="panel-title" style="font-size:small">
                            <a data-toggle="collapse" data-parent="#accordion1" href="#collapseFour">Change/Cancel Orders</a>
                        </u>
                    </div>
                    <div id="collapseFour" class="">
                        <div class="panel-body" style="background-color:#d9e4f0;height:auto">
                            <div style="width: 100%; height: auto; float: left; background-color: #d9e4f0">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4">
                                        Select Subsi
                                        <select id="DDUploadSOsubsi" style="width:60%;margin-left:20%" class="soDropdown" data-bind="chosen:SOSubsiesData, optionsText: 'SubsiName', selectedOptions:selectedSOSubsi, optionsCaption: 'Select Subsi', optionsAfterRender: function (option, subsy) { ko.applyBindingsToNode(option, { disable: !subsy }, subsy) }"></select>
                                    </div>

                                    <div class="col-sm-4 col-md-4">
                                        <div style="width:300px;margin-left:-20%"><form id="fileUploadSOform2" style="margin-left:18%"><input type="file" name="file" id="sochangefile" class="filestyle" data-size="sm" data-buttonname="btn-primary" data-bind="value: uploadChangeSOFileName"></form><br></div>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <button type="button" style="background-color: #004c97; width: 150px;border: 5px solid transparent; border-radius: 5px; color: white" data-bind="click: onChangeSOUploadClick">Show Data</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <script>
                    $('#DDUploadSOsubsi').chosen();
                    $('#collapseFour').addClass('panel-collapse collapse');
                </script>

                <div id="divTableLegend" style="width: auto; height: auto; margin-bottom: 2%;float:left;display:none;">
                    <div class='my-legend'>
                        <div class='legend-scale'>
                            <ul class='legend-labels'>
                                <li><span style='background:#599CDE;'></span><b>File Fields</b></li>
                                <li><span style='background:#7EBF75;'></span><b>SAP Fields</b></li>
                            </ul>
                        </div>
                    </div>
                </div>
                        <table id="soShowDataTable" class="table table-bordered table-striped " style="min-width: 1030px; width:80%; background-color: #f8f8f8; font-size:small;margin-top: 20px;margin-left: 10px;">
                            <tbody></tbody>
                        </table>
                        <div style="text-align: center;margin-top: 20px;">
                            <button id="soVerifyBtn" style="display: none; width: 250px; margin-left: 40%; background-color: #004c97; width: 20%; height: 45%; border: 5px solid transparent; border-radius: 5px; font-size: small; color: white;" data-bind="click: SOverifyClick">Test for Verification</button>
                        </div>
                        <div style="text-align: center;">
                            <button id="soChangeVerifyBtn" style="display: none; margin-left: 40%; width: 250px; background-color: #004c97; width: 20%; height: 45%; border: 5px solid transparent; border-radius: 5px; font-size: small; color: white;" data-bind="click: verifyChangeSoData">Test for Verification</button>
                        </div>
                   


            </div>
        </div>
    </div>

</div>
<script type="text/javascript">

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    function divClickEvent(e) {
        if (e.id == "divcollapseThree") {
            $('#collapseFour').removeClass("in");
        } else {
            $('#collapseThree').removeClass("in");
        }
    }
    function divClickEvent2(e) {
        if (e.id == "divcollapseOne") {
            $('#collapseTwo').removeClass("in");
        } else {
            $('#collapseTwo').removeClass("in");
        }
    }
</script>

<div id="addLookupPage" class="hide">
    <div class="addlookup" id="divDialogHeader" style="margin-left: 280px; color: #004c92;font-weight:bold;">Add Lookup</div>
    <div class="lookupBox lookUpDialog">
        <div class="lookupLeftlabelstyle">Subsy Name</div>
        <div class="colon">:</div>
        <div class="lookupDropdownDiv">
            <input type="text" class="textbx" id="txtSubsi" readonly="readonly" /><br />
        </div>
        <div class="lookupLeftlabelstyle" style="margin-left: 50px;">Mapper Name</div>
        <div class="colon">:</div>
        <div class="lookupDropdownDiv">
            <input type="text" class="textbx" id="txtMapper" readonly="readonly" /><br />
        </div>
        <div class="lookupLeftlabelstyle">Lookup Name</div>
        <div class="colon">:</div>
        <div class="lookupDropdownDiv">
            <input type="text" class="textbx" id="txtLookUp" readonly="readonly" /><br />
        </div>
        <table id="LookupTable" style="width: 500px; border: 1px solid black; margin: auto; background-color: #f8f8f8; border-collapse: collapse; line-height: 2">
            <thead style="background-color: #004c97">
                <tr style="border: 1px solid black">
                    <th style="border: 1px solid #ccc; font-size: small; color: white; text-align: center">Code Value</th>
                    <th style="border: 1px solid #ccc; font-size: small; color: white; text-align: center; ">Decode Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" class="textbx" style="width:100%;height:100%" id="txtCodeVal" readonly="readonly" /></td>
                    <td><input type="text" class="textbx" style="width:100%;height:100%" id="txtDeCodeVal" autocomplete="off" />
                        @*<select id="ddCustomerDeCodeVal" class="soDropdown" data-bind="chosen: customers, optionsText: 'EntityName', selectedOptions: selectedCustomerDecodeValue, optionsCaption: 'Select Customer', optionsAfterRender: function (option, customer) { ko.applyBindingsToNode(option, { disable: !customer }, customer) }"></select>*@
                        @*<select id="ddCustomerPackerDeCodeVal" class="soDropdown" data-bind="chosen: CustomerPackers, optionsText: 'EntityName', selectedOptions: selectedCustomerPackerDecodeValue, optionsCaption: 'Select Customer/Packer', optionsAfterRender: function (option, customer) { ko.applyBindingsToNode(option, { disable: !customer }, customer) },event: { change: ddCustomerPackerDeCodeValselectionChanged }"></select>*@
                        <select id="ddCustomerPackerDeCodeVal" class="soDropdown" data-bind="chosen: CustomerPackers, optionsText: 'EntityName', selectedOptions: selectedCustomerPackerDecodeValue, optionsCaption: 'Select Customer/Packer', optionsAfterRender: function (option, customer) { ko.applyBindingsToNode(option, { disable: !customer }, customer) }"></select>
                    </td>
                </tr>
            </tbody>
        </table>
        <script>
            
            //this.ddCustomerPackerDeCodeValselectionChanged = function () {
            //    var rowData = new Array();
            //    var data=$('#ddCustomerPackerDeCodeVal_chosen ').find('span').html().split('(');
            //    console.log($('#ddCustomerPackerDeCodeVal_chosen ').find('span').html());
            //    rowData.push({
            //        EntityCode: data[1].replace(')','').trim(),
            //        EntityName: data[0]
            //    });
            //    AppViewModel.selectedCustomerPackerDecodeValue = ko.observableArray(rowData);
            //};  
            $('#ddCustomerPackerDeCodeVal').chosen();
            $('#ddCustomerPackerDeCodeVal_chosen').css('width', '300px');
           // $('#ddCustomerPackerDeCodeVal').hide();
        </script>
            <div style="text-align: center">
                <button class="lookupSavebutton" id="btnSaveLookup" style="height: 30px; color: white; width: 120px; border-radius: 5px; margin-right: 180px; margin-left: 130px;display:inline;" data-bind="click: onAddlookupDialogSaveClick" >Save</button>
                <button class="lookupSavebutton" id="btnUpdateLookup" style="height: 30px;color:white; width: 120px; border-radius:5px;margin-right:180px;margin-left:130px;display:none;" data-bind="click: onEditlookupDialogSaveClick">Update</button>
                <button class="lookupSavebutton" id="btnUpdateLookup" style="height: 30px;color:white; width: 120px; border-radius:5px;margin-right:180px;margin-left:130px;display:none;" data-bind="click: onCancellookupDialogSaveClick">Cancel</button>
            </div>
        </div>
    </div>



