﻿<div class="transactionDIV table-responsive">
    <table class="centerTable">
        <tr>
            <td style="min-width:400px">
                <button id="hqUserSubsi" style=" background-color: #004c97" data-bind="click:hqUserSubsiClick" class="RoleBtn">HQ User</button>

            </td>
            @*<td style="min-width:400px">
                    <button id="hqAdminUserSubsi" style=" background-color: #004c97" data-bind="click:hqAdminUserClick" class="RoleBtn">HQ Admin User</button>
                </td>*@
            <td style="min-width:400px">
                <button id="subsiUserSubsi" style=" background-color: #004c97" data-bind="click:subsiUserSubsiClick" class="RoleBtn">Subsi User</button>
            </td>

        </tr>
    </table>
    <table class="background">
        <tr class="Mappingbackground">
            <td>
                <label style="color:#004c97;font-weight:500;font-size:small;"> Users</label>
            </td>

            <td> <label style="color:#004c97;font-weight:500;font-size:small;">Subsies</label></td>
            <td></td>
            <td>
                <label style="color:#004c97;font-weight:500;font-size:small;">Mapped Subsies</label>
            </td>
        </tr>
        <tr>
            <td>
                <select class="selectableList" multiple="multiple" height="8" data-bind="options:users, optionsText: 'Username',selectedOptions:selectedUser"> </select>

            </td>
            <td>
                <select class="selectableList" multiple="multiple" height="8" data-bind="options:subsies, optionsText: 'SubsiName',selectedOptions:selectedSubsies"> </select>

            </td>
            <td>
                <button data-bind="click:rightSubsiArrow" class="rightArrow" style="
                        background-color:white;"></button><br />
                <button data-bind="click:leftSubsiArrow" class="leftArrow" style="
                        background-color:white;"></button>

            </td>
            <td>
                <select class="selectableList" multiple="multiple" height="8" data-bind="options:mappedSubsies, optionsText:'SubsiName',selectedOptions:selectedMappedSubsies"></select>


            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                <button style="width: 150px; font-size: small; border: 1px solid transparent; border-radius: 5px; background-color: #004c97" class="saveBtn" data-bind="click:subsiSaveClick">Save</button>
            </td>
            <td></td>
            <td></td>
        </tr>

    </table>
</div>
