﻿<style>
    .custom {
        font-size: 1.2em !important;
    }
    .ui-dialog .ui-dialog-content {
        overflow: hidden !important;
    }
    .requiredField {
        color: red;
        content: "*";     
    }
</style>
    <!--container for the add mapping section starts here --->
    <div class="container" >
    <div class="addMapping">Add Mapping</div>
        <div class="box">

            <div class="parentdiv" style="margin:40px auto 5px auto">
                <div class="leftlabelstyle">Subsy</div>
                <div class="colon">:</div>
                <div class="dropdownDiv">
                    <select id="DDAddMapsubsi" data-bind="chosen: availableSubsy, optionsText: 'SubsiName', optionsCaption: 'Select Subsy', value: selectedSubsiValue" class="dropdown">
                        <option />
                    </select>
                </div>
            </div>

            <div class="parentdiv">
                <div class="leftlabelstyle" style="margin-left: 40px;">Transaction Type</div>
                <div class="colon">:</div>
                <div class="dropdownDiv">
                    <select id="DDAddMapTrn" class="dropdown" data-bind="chosen:transactions, optionsText: 'Name', optionsCaption: 'Select Transaction',value:selectedTransaction">
                        <option />
                    </select>
                </div>
            </div>

            <div class="parentdiv">
                <div class="leftlabelstyle">File Type</div>
                <div class="colon">:</div>
                <div class="dropdownDiv">
                    <select id="DDAddMapFileType" class="dropdown" data-bind="chosen:fileTypes, optionsText: 'Name', optionsCaption: 'Select File Type',value:selectedFileType">
                        <option />
                    </select>
                </div>
            </div>

            <div class="parentdiv" id="fieldCount">
                <div class="leftlabelstyle">Min.Field Value Count</div>
                <div class="colon">:</div>
                <div class="dropdownDiv">
                    <select id="DDAddMapFieldvalue" class="dropdown" style="width: 140px" data-bind="value:selectedFieldCount">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option selected value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                    </select>
                </div>
            </div>

            @*   <div class="parentdiv" style="height:30px">
            <div class="leftlabelstyle">Header Available</div>
            <div class="colon">:</div>
            <div class="dropdownDiv">
                <input style="width:25px;height:25px;border:none" type="checkbox" id="cb1"><br>
            </div>
            </div>*@

            <div class="parentdiv" style="height:30px" id="customInputFile">
                <div class="leftlabelstyle">Customize input File</div>
                <div class="colon">:</div>
                <div class="dropdownDiv">
                    <input style="width:25px;height:25px" type="checkbox" data-bind="checked:isCustomInput" id="cb2" @*name="vehicle" value="Bike"*@><br>
                </div>
            </div>

            <div class="parentdiv" id="rowNum" style="display:none">
                <div class="leftlabelstyle">Row Number</div>
                <div class="colon">:</div>
                <div class="dropdownDiv">
                    <input class="textbox" type="number" id="tb1" min="1" data-bind="value:rowNumber" max="10000" @*name="vehicle" value=""*@><br>
                </div>
            </div>

            <div class="parentdiv" id="colNum" style="display:none">
                <div class="leftlabelstyle">Column Number</div>
                <div class="colon">:</div>
                <div class="dropdownDiv">
                    <input class="textbox" type="number" id="tb2" min="1" max="10000" data-bind="value:columnNumber" @* name="vehicle" value=""*@><br>
                </div>
            </div>

            <div>
                <div class="leftlabelstyle">Enable Email</div>
                <div class="colon">:</div>
                <div class="dropdownDiv">
                    <input style="width:25px;height:25px" type="checkbox" data-bind="checked:isEnableEmail" id="chkEmail" @*name="vehicle" value="Bike"*@><br>
                </div>
            </div>

            <div class="parentdiv" id="email" style="display:none">
                <div class="leftlabelstyle">Email Id's:</div>
                <div class="colon">:</div>
                <div class="dropdownDiv">
                    <input class="textbox" type="text" id="emailIdValue" style="width:300px;height:70px" placeholder="Please enter email ids seperated by commas" data-bind="value:emailIds" @* name="vehicle" value=""*@><br>
                </div>
            </div>
            <div class="parentdiv">
                <div class="leftlabelstyle">Enable FTP</div>
                <div class="colon">:</div>
                <div class="dropdownDiv">
                    <input style="width:25px;height:25px" type="checkbox" data-bind="checked:isEnableFTPForMapper" id="chkFTP" @*name="vehicle" value="Bike"*@><br>
                </div>
            </div>
            <div class="parentdiv" id="divFTPAdd" style="display:none">
                <div class="leftlabelstyle">       </div>
                <div class="colon"></div>
                <div class="dropdownDiv">
                    <a id="lnkAddFtpConfig" style="cursor:pointer;">Add FTP Configuration</a>
                </div>
            </div>


        <form @*action="api/user/Index" method="post"*@ id="uploadform" enctype="multipart/form-data">
       <div class="parentdiv"> 
        <div class="leftlabelstyle">Sample File</div>
        <div class="colon">:</div>
        
            @*<input style="width:340px; border:none" class="textbox" type="file" name="file" id="file" data-bind="value:uploadFileName"><br>*@
            <div style="width:500px;"><input type="file" name="file" id="mapperfile" class="filestyle" style="margin-top:20px;width:200px;" data-iconname="glyphicon-inbox" data-size="sm" data-buttonname="btn-primary" data-bind="value:uploadFileName"><br></div></div>
          

        <div style="text-align:center">
            <button  class="nextbutton" style="height: 30px; width: 120px; border: none;" data-bind="click:onUploadMapperNextClick">Next</button>
        </div>
       </form>

        </div>
</div>

<div>
    <div class="container hide" id="addConfigDialog" title="Add FTP Config">
        <div class="row paddingTop">
            <div class="col-sm-5 col-md-5"><label>Type</label></div>
            <div class="col-sm-1 col-md-1 requiredField">*</div>
            <div class="col-sm-6 col-md-6 ">
                <label>FTP</label><input type="radio" value="FTP" name="ftp" data-bind="checked: FTPType"><label>SFTP</label><input type="radio" value="SFTP" name="ftp" data-bind="checked: FTPType">
            </div>
        </div>
        <div class="row paddingTop">
            <div class="col-sm-5 col-md-5 "><label>HOST</label></div>
            <div class="col-sm-1 col-md-1 requiredField">*</div>
            <div class="col-sm-6 col-md-6 "><input type="text" data-bind="value:FTPhost" /></div>
        </div>
        <div class="row paddingTop">
            <div class="col-sm-5 col-md-5 "><label>Port</label></div>
            <div class="col-sm-1 col-md-1 requiredField">*</div>
            <div class="col-sm-6 col-md-6 "><input type="text" data-bind="value:FTPport" /></div>
        </div>
        <div class="row paddingTop">
            <div class="col-sm-5 col-md-5 "><label>User</label></div>
            <div class="col-sm-1 col-md-1 requiredField">*</div>
            <div class="col-sm-6 col-md-6 "><input type="text" data-bind="value:FTPuser" /></div>
        </div>
        <div class="row paddingTop">
            <div class="col-sm-5 col-md-5"><label>Password</label></div>
            <div class="col-sm-1 col-md-1 requiredField">*</div>
            <div class="col-sm-6 col-md-6 "><input type="text" data-bind="value:FTPpassword" /></div>
        </div>
        <div class="row paddingTop">
            <div class="col-sm-5 col-md-5"><label>Location</label></div>
            <div class="col-sm-1 col-md-1 requiredField">*</div>
            <div class="col-sm-6 col-md-6 "><input type="text" data-bind="value:Ftplocation" /></div>
        </div>
        <div class="row paddingTop">
            <div class="col-sm-6 col-md-5 "><label>Encryption Type</label></div>
            <div class="col-sm-1 col-md-1 requiredField"></div>
            <div class="col-sm-6 col-md-6 "><input type="text" data-bind="value:FTPencryptiontype" /></div>
        </div>
        <div class="row paddingTop">
            <div class="col-sm-6 col-md-5 "><label>SslHostCertificate Fingerprint</label></div>
            <div class="col-sm-1 col-md-1 requiredField"></div>
            <div class="col-sm-6 col-md-6 "><input type="text" data-bind="value:FTPsslhostcertificatefingerprint" /></div>
        </div>
        <div class="row paddingTop">
            <div class="col-sm-6 col-md-5 "><label>Is Enabled</label></div>
            <div class="col-sm-1 col-md-1 requiredField"></div>
            <div class="col-sm-6 col-md-6 "><input type="checkbox" checked="checked" data-bind="checked: FTPisenabled" /></div>
        </div>
    </div>
</div>

<script>
    $('#DDAddMapsubsi').chosen();
    $('#DDAddMapTrn').chosen();
    $('#DDAddMapFileType').chosen();
</script>
    <!--container for the add mapping section ends here --->
    <script type="text/javascript">
        $(document).ready(function () {
            $('#cb2').bind("click", function (e) {
                //$('#divCourierDetailsScanAndSend').toggleClass("hidden");
                if ($('#cb2').prop('checked') == true) {
                    $('#rowNum').show();
                    $('#colNum').show();
                }
                else {
                    $('#rowNum').hide();
                    $('#colNum').hide();
                }

            });
            $('#chkEmail').bind("click", function (e) {
                //$('#divCourierDetailsScanAndSend').toggleClass("hidden");
                if ($('#chkEmail').prop('checked') == true) {
                    $('#email').show();                  
                }
                else {
                    $('#email').hide();                  
                }

            });

            $('#chkFTP').bind("click", function (e) {
                if ($('#chkFTP').prop('checked') == true) {
                    $('#divFTPAdd').show();
                }
                else {
                    $('#divFTPAdd').hide();
                }
            });
           
            $('#lnkAddFtpConfig').bind("click", function (e) {
                $('#addConfigDialog').removeClass('hide');
                $('#addConfigDialog').dialog({
                    modal: true, zIndex: 50000,
                    width: 630,
                    height: 500,
                    buttons: {
                        "Save": {
                            click: function () {
                                validateFTP();
                                $(this).dialog("close");
                            },
                            text: 'Save',
                            class: 'custom'
                        },
                        Cancel: {
                            click: function () {
                                $(this).dialog("close");
                            },
                            text: 'Cancel',
                            class: 'custom'
                        }
                    }
                })
            });
        });
    </script>