﻿<div class="container table-responsive" style="width: 80%;">
    <div>
        <label> <a style="margin-left: 10px; color: #000090; font-size: 14px; font-weight: bold;padding-left: 40px"><u>Mapping Details:</u> </a></label>
        <div id="mapperSelected" style="font-size:small;margin-left:180px;margin-top:-23px;font-weight:bold;color:#000090;" data-bind="text:selectedViewMapperName"></div>
    </div>
    <div id="Mappertable" style="/*overflow-y: scroll; overflow-x: hidden; */height: auto;width:100%;margin-left:50px;">
        <div style="width: auto; height: auto; margin-bottom: 2%">
            <table id="MapperCreateTable" style="width: 100%; margin-left: 50px;margin-top:10px; border: 1px solid #ccc; margin: auto; background-color: #f8f8f8; border-collapse: collapse; line-height: 2;color:#000090;font-size:small;">

                <thead style="background-color: #6996c2;color:#ffffff">
                    <tr style="border: 1px solid #ccc">
                        <th style="border: 1px solid #ccc; width: 20%">SAP Field Name</th>
                        <th style="border: 1px solid #ccc; width: 20%; ">Input Field</th>
                        <th style="border: 1px solid #ccc; width: 60%; ">Note</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div style="width:100%;margin-bottom:20px">
        <div id="backtoMapperPage" style="width:30%;display:inline;margin-left: 45%;">
            <input type="button" id="backToMapperBTN" value="Back" style="height: 30px; margin-bottom: 20px;width: 120px; border: none; background-repeat: no-repeat; margin: 5px auto; background-size: 120px 30px; background-color: #004c97;border-radius:5px; color: white" data-bind="click: onBackBTNToMappingClick" />
        </div>
    </div>
</div>
