﻿<!--container for the add lokup starts here --->
<div class="container transactionDIV table-responsive">
    <div class="addLookup" style="margin-left:60px">View Lookup</div>
    <div class="lookupBox" style="width:1000px">

        <div style="margin-left:175px">

            <div class="parentdiv" style="margin: 40px auto 5px auto">
                <div class="lookupLeftlabelstyle">Subsy Name</div>
                <div class="colon">:</div>
                <div class="lookupDropdownDiv">
                    <select id="DDViewLookupsubsi" data-bind="chosen: availableLookupSubsy, optionsText: 'SubsiName', selectedOptions: selectedLookupSubsyValue, optionsCaption: 'Select Subsy', optionsAfterRender: function (option, subsy) { ko.applyBindingsToNode(option, { disable: !subsy }, subsy) }" class="dropdown"></select>
                </div>
            </div>

            <div class="parentdiv">
                <div class="lookupLeftlabelstyle" style="margin-left: 50px;">Mapper Name</div>
                <div class="colon">:</div>
                <div class="lookupDropdownDiv">
                    <select class="dropdown" id="DDViewLookupmaper" data-bind="chosen: mapperforSubsy, optionsText: 'MapperName', selectedOptions: selectedMapperValue, optionsCaption: 'Select Mapper', optionsAfterRender: function (option, selectedMapperValue) { ko.applyBindingsToNode(option, { disable: !selectedMapperValue }, selectedMapperValue) }"></select>
                    @*                <select class="soDropdown" id="DDpacker" data-bind="options: selectedPacker, optionsText: 'EntityName', selectedOptions: selectedPackerValue, optionsCaption: 'Select Delivery Location', optionsAfterRender: function (option, selectedPackerValue) { ko.applyBindingsToNode(option, { disable: !selectedPackerValue }, selectedPackerValue) }">
                        </select>*@
                </div>
            </div>

            <div class="parentdiv">
                <div class="lookupLeftlabelstyle">Lookup Name</div>
                <div class="colon">:</div>
                <div class="lookupDropdownDiv">
                    @*                <select class="dropdown" data-bind="options: lookupNames, optionsText: 'EntityName', value: selectedLookupValue">
                        </select>*@
                    <select class="dropdown" id="DDViewLookupName" data-bind="chosen: ViewlookupNames, optionsText: 'EntityName', selectedOptions: selectedViewLookupValue, optionsCaption: 'Select Lookup Name', optionsAfterRender: function (option, selectedViewLookupValue) { ko.applyBindingsToNode(option, { disable: !selectedViewLookupValue }, selectedViewLookupValue) }"></select>

                </div>
            </div>

        </div>

        <div style="text-align: center;margin-bottom:20px">
            <input type="button" value="Search" style="height: 30px;padding-right:30px;padding-left:30px; margin-top: 30px;width: 120px; border-radius:5px; background-repeat: no-repeat; background-size: 120px 30px; background-color: #004c97; color: white" data-bind="click: onSearchlookupClick" />
        </div>

        <div id="viewLookupJQDiv" style="width: 100%;">
            <div style="text-align: center; margin: auto; padding-right: 1%; padding-left: 1%; /*margin-top: 150px*/">
                <table id="ViewLookupGrid"></table>
                <div id="viewlookupPager" style="text-align: center"></div>
            </div>
            <br style="clear: both">
        </div>



    </div>
</div>
<script>
    $('#DDViewLookupsubsi').chosen();
    $('#DDViewLookupmaper').chosen();
    $('#DDViewLookupName').chosen();
</script>
 
<!--container for the add mapping section ends here --->
