﻿<div class="container" >
  
@*     <div style="margin:5px auto auto 5px;font-size:12px;font-weight:bold">Mapping</div>*@
            <div id="viewMappingDiv" style="width: 100%;margin-bottom:20px">
            <div style="text-align: center; margin: auto; padding-right: 1%; padding-left: 1%; margin-top: 10px">
                <table id="ViewMappingGrid"></table>
                <div id="viewmappingPager" style="text-align: center"></div>
            </div>
            @*<br style="clear: both">*@
        </div>
</div>
