﻿<!--container for Welcome Screen starts here --->
<div class="container table-responsive">

    <div id="TransactionView" style="width: auto; height: auto;">
        <div id="welcomeHeader" style="width: auto;overflow:hidden;margin-left:0px;min-height:500px;max-height:100%">
            <fieldset class="fsStyle">
                <legend class="legendStyle">
                    <a data-toggle="collapse" id="aSelectTrn" data-target="#demo" href="#" class="legend">Select Transaction</a>
                </legend>
                <div class="row collapse legendDiv in" id="transactionSelectionDiv">
                    <div class="row welcomeDiv">
                        <div class="col-sm-3 col-md-4 welcomeDiv">
                            <select id="DDTrnsubsi" class="chosen-select controleWidth" data-bind="chosen: availableLookupSubsy, optionsText: 'SubsiName', selectedOptions: selectedTransactionSubsyValue, optionsCaption: 'Select Subsy', optionsAfterRender: function (option, subsy) { ko.applyBindingsToNode(option, { disable: !subsy }, subsy)} "></select>
                        </div>
                        <div class="col-sm-9 col-md-4 welcomeDiv">
                            <select id="DDTransactionName" class="dropdown controleWidth" data-bind="chosen: availableTransactions, optionsText: 'EntityName', selectedOptions: selectedTransactionValue, optionsCaption: 'Select Transaction', optionsAfterRender: function (option, transaction) { ko.applyBindingsToNode(option, { disable: !transaction }, transaction) }"></select>
                        </div>
                        <div class="col-sm-12 col-md-4 welcomeDiv">
                            <input type="button" class="btn btn-primary" value="Transaction Details" data-bind="click: TransactionDetailsClick">
                            <input type="button" id="KendoUIBackNew" class="transDetailsKendoUI btn btn-primary hide" value="Back" data-bind="click: function(data, event) { backToTransaction(2)}">                           
                        </div>
                        <script>
                            $('#DDTrnsubsi').chosen();
                            $('#DDTransactionName').chosen();
                        </script>
                    </div>

                    
                </div>
            </fieldset>
            <div id="TransactionPagerDiv">
                <div id="trnPageDiv">
                    <table id="TransactionGrid"></table>
                    <div id="transactionPager" style="text-align: center;bottom:10px;"></div>
                </div>
                <br style="clear: both">
            </div>
            <div id="KendoUIDiv" class="KendoUIDivStyle">
                <div id="details"></div>
                <div id="binDetails"></div>
                <div id="kendoUIGridDiv">
                    <div id="grid"></div>
                </div>
                @*<input type="button" id="KendoUIBackNew" class="transDetailsKendoUI btn btn-primary hide" value="Back" data-bind="click: function(data, event) { backToTransaction(2)}">*@
            </div>
        </div>
    </div>
</div>
