<!DOCTYPE html>
 <html class="login">
 <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta http-equiv="cache-control" content="max-age=0" />
     <meta http-equiv="cache-control" content="no-cache" />
     <meta http-equiv="expires" content="0" />
     <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
     <meta http-equiv="pragma" content="no-cache" />
 
 
     <title>Goodpack EDI</title>
 
 
 
 
     <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
     <link href="~/Content/App/UploadMapper.css" rel="stylesheet" />
     <link href="~/Content/themes/metroblue/jquery-ui.css" rel="stylesheet" type="text/css" />
     <link href="~/Content/App/SO.css" rel="stylesheet" />
 
     <!-- jTable style file -->
     <link href="~/Scripts/jtable/themes/metro/blue/jtable.css" rel="stylesheet" type="text/css" />
 
 
 
 
     <script src="~/Scripts/jquery-1.9.0.min.js" type="text/javascript"></script>
     <script src="~/Scripts/jquery-ui-1.9.2.min.js" type="text/javascript"></script>
     <script src="~/Scripts/modernizr-2.6.2.js" type="text/javascript"></script>
     @*<script src="~/Scripts/jtablesite.js" type="text/javascript"></script>*@
     @*<script src="~/Scripts/jquery.dynatable.js"></script>*@
     <script src="~/Scripts/jquery.jqGrid-4.5.4/js/jquery.jqGrid.min.js"></script>
     <script src="~/Scripts/jquery.jqGrid-4.5.4/js/jquery.jqGrid.src.js"></script>
     <link href="~/Scripts/jquery.jqGrid-4.5.4/css/ui.jqgrid.css" rel="stylesheet" type="text/css" />
     <script src="~/Scripts/jquery.jqGrid-4.5.4/js/i18n/grid.locale-en.js"></script>
     <script src="~/Scripts/jquery.jqGrid-4.5.4/src/grid.subgrid.js"></script>
     <script src="~/Scripts/jquery.jqGrid-4.5.4/src/jquery.fmatter.js"></script>
     <script src="~/Scripts/jquery.jqGrid-4.5.4/src/JsonXml.js"></script>
     <script src="~/Scripts/jquery.jqGrid-4.5.4/src/grid.import.js"></script>
 
     <script src="~/Scripts/jquery.dataTables.min.js"></script>
     <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
 
     @*<link href="~/Content/jquery.dynatable.css" rel="stylesheet" />*@
     <!-- A helper library for searching in dropdown -->
     <link href="~/Content/chosen.css" rel="stylesheet" />
     <script src="~/Scripts/chosen.jquery.js"></script>
     <script type="text/javascript" src="~/Scripts/select2/select2.js"></script>
     <link href="~/Scripts/select2/select2.css" rel="stylesheet" type="text/css" />
     @*<script type="text/javascript" src="~/Scripts/selectize/selectize.js"></script>*@
 
     <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
     
 
     <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
     @*<link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.common-material.min.css" />
         <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.material.min.css" />
         <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.dataviz.min.css" />
         <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.dataviz.material.min.css" />*@
 
     <script src="~/Scripts/bootstrap/bootstrap.min.js" type="text/javascript"></script>    
     <script type="text/javascript" src="~/Scripts/bootstrap/bootstrap-filestyle.min.js"> </script>    
 
     <script src="~/Scripts/moment-with-locales.js"></script>
     <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
     <!--Kendo UI-->
     <link href="~/Scripts/KendoUI/styles/kendo.common-material.min.css" rel="stylesheet" />
     <link href="~/Scripts/KendoUI/styles/kendo.material.min.css" rel="stylesheet" />
     <link href="~/Scripts/KendoUI/styles/kendo.dataviz.min.css" rel="stylesheet" />
     <link href="~/Scripts/KendoUI/styles/kendo.dataviz.material.min.css" rel="stylesheet" />
     <script src="~/Scripts/KendoUI/js/kendo.all.min.js"></script>
 
     <!-- A helper library for JSON serialization -->
     <script type="text/javascript" src="~/Scripts/jtable/external/json2.js"></script>
     <!-- Core jTable script file -->
     <script type="text/javascript" src="~/Scripts/jtable/jquery.jtable.js"></script>
     <!-- ASP.NET Web Forms extension for jTable -->
     <script type="text/javascript" src="~/Scripts/jtable/extensions/jquery.jtable.aspnetpagemethods.js"></script>
     @* <script src="http://knockoutjs.com/downloads/knockout-2.3.0.debug.js"></script>*@
     @*<script src="~/Scripts/knockout.tooltip-master/knockout-2.3.0.debug.js"></script>*@
     <script src="~/Scripts/knockout-3.4.0.js"></script>
     <script src="~/Scripts/knockout-jqueryui.min.js"></script>
     <link href="~/Scripts/validationEngine/validationEngine.jquery.css" rel="stylesheet" type="text/css" />
 
 
     <!--Knockout tootip -->
 
     <script src="https://code.jquery.com/jquery-migrate-1.2.1.js"></script>
     <script src="~/Scripts/knockout.tooltip-master/libs/jquery.qtip.min.js"></script>
     <script src="~/Scripts/knockout.tooltip-master/src/knockout.tooltip.js"></script>
     <script src="~/Scripts/knockout-jqueryui.min.js"></script>
     <!-- Import Javascript files for validation engine (in Head section of HTML) -->
     <script type="text/javascript" src="~/Scripts/validationEngine/jquery.validationEngine.js"></script>
     <script type="text/javascript" src="~/Scripts/validationEngine/jquery.validationEngine-en.js"></script>
     <link href="~/Content/styles.css" rel="stylesheet" />
     <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
     <script src="~/Scripts/bootstrap-select.js"></script>
 
     @*Noty *@
     @Scripts.Render("~/Scripts/noty/jquery.noty.js")
     @Scripts.Render("~/Scripts/noty/layouts/top.js")
     @Scripts.Render("~/Scripts/noty/layouts/inline.js")
     @Scripts.Render("~/Scripts/noty/themes/default.js")
     @*Block UI *@
     @Scripts.Render("~/Scripts/BlockUi/blockUI.js")
     @Scripts.Render("~/Scripts/EDIScripts/App.js?V=1.1")
     @Scripts.Render("~/Scripts/EDIScripts/MenuItems.js?V=1.1")
     @Scripts.Render("~/Scripts/EDIScripts/Role.js?V=1.1")
     @Scripts.Render("~/Scripts/EDIScripts/SalesOrder.js?V=1.1")
     @Scripts.Render("~/Scripts/EDIScripts/Subsi.js?V=1.1")
     @Scripts.Render("~/Scripts/EDIScripts/Lookup.js?V=1.1")
     @Scripts.Render("~/Scripts/EDIScripts/Mapping.js?V=1.1")
     @Scripts.Render("~/Scripts/EDIScripts/Transaction.js?V=1.1")
     @Scripts.Render("~/Scripts/EDIScripts/ShipmentConfirmation.js?V=1.1")
     @Scripts.Render("~/Scripts/EDIScripts/ViewMapping.js?V=1.1")
     @Scripts.Render("~/Scripts/EDIScripts/Config.js?V=1.1")
     @Scripts.Render("~/Scripts/EDIScripts/SalesOrderEdit.js?V=1.1")
     @Scripts.Render("~/Scripts/EDIScripts/ErrorEmail.js?V=1.1")
 
     @*-----App Style Sheets-------*@
    
     @Styles.Render("~/Content/App/Role.css?V=1.1")   
     @Styles.Render("~/Content/App/App.css?V=1.1")
     @Styles.Render("~/Content/App/WelcomeScreen.css?V=1.1")
     @Styles.Render("~/Content/App/Subsi.css?V=1.1")
     @Styles.Render("~/Content/App/Lookup.css?V=1.1")
     @Styles.Render("~/Content/App/SC.css?V=1.1")
     @Styles.Render("~/Content/App/Config.css?V=1.1")
     @Styles.Render("~/Content/App/Verticalmenu.css?V=1.1")
 
 
     @*----App Style Sheets Ends*@
     <script type="text/javascript">
         var pathname = location.pathname.substring(location.pathname.length - 1, location.pathname.length) == '/' ? location.pathname.substring(0, location.pathname.length - 1) : location.pathname
         var baseUrl = location.protocol + "//" + location.hostname + (location.port && ":" + location.port) + pathname;
     </script>
 </head>
 
 <body id="mainBody">
 
     <div id="login">
         @RenderPage("~/Views/Shared/_LoginPartial.cshtml")
         <script> $('html').addClass('login');</script>
     </div>
     <header class="header" id="headerContainer" style="display:none">
         <div class="container-fluid">
             <div class="row">
                 <div class="col-sm-3 col-xs-5 ">
                     <img src="~/Images/goodpacklogo.png" alt="GoodPack" class="logo">
                 </div>
                 <div class="col-sm-6 text-center hidden-xs">
                     <h1> EDI </h1>
                 </div>
                 <div class="col-sm-3 col-xs-7 text-right ">                    
                     <span class="text-lg text-primary"><span class="hidden-xs"> Welcome</span> <label data-bind="text:welcomeUser"></label></span>
                     <a class="power-btn" href="#"> <i class="glyphicon glyphicon-off" data-bind="click: onLogOutClick"></i></a>
                 </div>
             </div>
         </div>
     </header>
 
     <menu class="menu hide" id="menuControle">
         <div class="nav-header">
             <div class="menu-toggle">
                 <span class="line-bar"></span>
                 <span class="line-bar"></span>
             </div>
         </div>
         <div class="panel-group menuoverflow" id="accordion" role="tablist" aria-multiselectable="true">
             <div class="panel panel-default">
                 <div class="panel-heading" role="tab" id="headingOne">
                     <h4 class="panel-title">
                         <a class="no-cart" id="homeDiv" href="#WelocomeScreenTRN" data-bind="click: onHomeClick" title="Home">
                             <i class="glyphicon glyphicon-home mrm"></i>
                             <span> Home</span>
                         </a>
                     </h4>
                 </div>
             </div>
 
             <div class="panel panel-default">
                 <div class="panel-heading" role="tab" id="headingOne">
                     <h4 class="panel-title">
                         <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#Transaction" aria-expanded="false" aria-controls="Transaction">
                             <i class="glyphicon glyphicon-transfer mrm"></i>
                             <span> Transactions</span>
                         </a>
                     </h4>
                 </div>
                 <div id="Transaction" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
                     <ul class="nav" >
                         <li id="hSalesOrder"><a href="#SalesOrder" data-bind="click: onSOClick">Sales Order</a></li>
                         <li id="hShipmentConfirmation"><a href="#ShipmentConfirmation" data-bind="click:onSCClick">Shipment Confirmation</a></li>
                         <li id="hScannedShipmentConfirmation"><a href="#ScannedShipmentConfirmation" data-bind="click:onSSCClick">Scanned Shipment Confirmation</a></li>
                         <li id="hAdvancedShipmentNotification"><a href="#AdvancedShipmentNotification" data-bind="click:onASNClick">Advanced Shipment Notification</a></li>
                     </ul>
                 </div>
             </div>
 
             <div class="panel panel-default">
                 <div class="panel-heading" role="tab" id="SubsiMenuH" title="Subsi">
                     <h4 class="panel-title menuClass">
                         <a class="no-cart" id="subsiDiv" href="#hentity" data-bind="click: onSubsiClick">
                             <i class="glyphicon glyphicon-tasks mrm"></i>
                             <span> Subsi</span>
                         </a>
                     </h4>
                 </div>
             </div>
 
             <div class="panel panel-default">
                 <div class="panel-heading" role="tab" id="Mapping">
                     <h4 class="panel-title">
                         <a class="collapsed" id="mapDiv" data-toggle="collapse" data-parent="#accordion" href="#Master" aria-expanded="false" aria-controls="Master">
                             <i class="glyphicon glyphicon-fullscreen mrm"></i> <span>Mapping</span>
                         </a>
                     </h4>
                 </div>
                 <div id="Master" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                     <ul class="nav">
                         <li id="hAddNewMapping"><a href="#AddNewMapping" data-bind="click: onAddMapperClick">Add New Mapping</a></li>
                         <li id="hViewMapping"><a href="#ViewMapping" data-bind="click: onViewMappingClick">View Mapping</a></li>
                     </ul>
                 </div>
             </div>
 
             <div class="panel panel-default">
                 <div class="panel-heading" role="tab" id="headingThree">
                     <h4 class="panel-title">
                         <a class="collapsed" id="dlookDiv" data-toggle="collapse" data-parent="#accordion" href="#Settings" aria-expanded="false" aria-controls="Settings">
                             <i class="glyphicon glyphicon glyphicon-th-list mrm"></i> <span> Data Lookup</span>
                         </a>
                     </h4>
                 </div>
                 <div id="Settings" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                     <ul class="nav">
                         <li id="hAddLookUp"><a href="#AddLookUp" data-bind="click:onAddLookupClick">Add look up</a></li>
                         <li id="hViewLookUp"><a href="#UploadLookUp" data-bind="click: onViewLookupClick">View look up</a></li>
                     </ul>
                 </div>
             </div>
 
             <div class="panel panel-default">
                 <div class="panel-heading" role="tab" id="Administratormenu" title="Administrator">
                     <h4 class="panel-title menuClass">
                         <a class="collapsed" id="adminDiv" data-toggle="collapse" data-parent="#accordion" href="#Administrator" aria-expanded="false" aria-controls="Administrator">
                             <i class="glyphicon glyphicon glyphicon-user mrm"></i> <span> Administrator</span>
                         </a>
                     </h4>
                 </div>
                 <div id="Administrator" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Administratormenu">
                     <ul class="nav" id="adminli">
                         <li id="hUsers"><a href="#Users" data-bind="click: onUserClick">Users</a></li>
                         <li id="hRoles"><a href="#Roles" data-bind="click: onRoleClick">Roles</a></li>
                         <li id="hConfiguration"><a href="#Configuration" data-bind="click: onConfigClick">Configuration</a></li>
                         <li id="hScannerRegistration"><a href="#Registration" data-bind="click: onScannRegClick">Scanner Registration</a></li>
                     </ul>
                 </div>
             </div>
 
             <div class="panel panel-default">
                 <div class="panel-heading" role="tab" id="Report">
                     <h4 class="panel-title">
                         <a class="collapsed" id="mapDiv" data-toggle="collapse" data-parent="#accordion" href="#Master1" aria-expanded="false" aria-controls="Master1">
                             <i class="glyphicon glyphicon-stats mrm"></i> <span>Report</span>
                         </a>
                     </h4>
                 </div>
                 <div id="Master1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                     <ul class="nav">
                         <li id="hTransactionReport"><a href="#AddNewMapping" data-bind="click: onTransactionReportClick">Transaction Report</a></li>                      
                     </ul>
                 </div>
             </div>
 
             <div class="panel panel-default">
                 <div class="panel-heading" role="tab" id="headingThree" title="Templates">
                     <h4 class="panel-title menuClass">
                         <a class="collapsed" id="downloadDiv" data-toggle="collapse" data-parent="#accordion" href="#Templates" aria-expanded="false" aria-controls="Templates">
                             <i class="glyphicon glyphicon glyphicon-save mrm"></i> <span>Templates</span>
                         </a>
                     </h4>
                 </div>
                 <div id="Templates" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                     <ul class="nav">
                         <li id="downloadMapperTemplate"><a data-bind="click: onDownloadMapperTemplateClick" href="#DownloadMapper">Download Mapper Template</a></li>
                         <li id="editTemplate"><a href="/api/SO/DownloadEditMapperFile">Edit SO Template</a></li>
                         <li id="soTemplate"><a href="/api/SO/DownloadMapperFile">SO Template</a></li>
                     </ul>
                 </div>
                 <script>
                     $('#editTemplate a').attr('href', baseUrl + "/api/SO/DownloadEditMapperFile");
                     $('#soTemplate a').attr('href', baseUrl + "/api/SO/DownloadMapperFile");
                 </script>
 
             </div>
             <div class="panel panel-default">
                 <div class="panel-heading" role="tab" id="ErrorEmailmenu" title="Error Emails">
                     <h4 class="panel-title">
                         <a class="no-cart" id="errormailDiv" href="#ErrorEmail" data-bind="click: onErrorEmailClick">
                             <i class="glyphicon glyphicon glyphicon-envelope  glyphicon glyphicon-flash mrm"></i>
                             <span>Error Emails</span>
                         </a>
                     </h4>
                 </div>
             </div>
         </div>
     </menu>
 
 
     <div class="main" id="landingContainer" style="visibility:hidden;">
         <!-- breadcrumb -->
         <ol class="breadcrumb hide" id="olmenu">
             <li class="hidden-xs"><a href="#" data-bind="text:selectedMenu">Home</a></li>
             <li class="ch-btn" id="changePasswordDiv"><a href="#">Change Password <i class="glyphicon glyphicon-pencil"></i></a></li>
             <li class="ch-btn"> <a target="_blank" href="http://103.24.4.106:8080/gpsupport/">Support<i class="glyphicon glyphicon-earphone"></i></a></li>
         </ol><!-- breadcrumb -->
 
         <div class="container-fluid container-fluid-Custom">
             <div id="home">
                 @RenderPage("~/Views/Shared/_HomeScreenPartial.cshtml")
             </div>
             <div id="welcomeScreen">
                 @RenderPage("~/Views/Shared/_WelcomeScreenPartial.cshtml")
             </div>
             <div id="userList">
                 @RenderPage("~/Views/Shared/_UserListPartial.cshtml")
             </div>
             <div id="UploadMapper">
                 @RenderPage("~/Views/Shared/_UploadMapperScreen.cshtml")
             </div>
             <div id="roleList">
                 @RenderPage("~/Views/Shared/_RoleListPartial.cshtml")
             </div>
             <div id="subsiMapping">
                 @RenderPage("~/Views/Shared/_SubsiMappingPartial.cshtml")
             </div>
             <div id="AddLookup">
                 @RenderPage("~/Views/Shared/_AddLookupPartial.cshtml")
             </div>
             <div id="ViewLookup">
                 @RenderPage("~/Views/Shared/_ViewLookupPartial.cshtml")
             </div>
             <div id="sapMapping">
                 @RenderPage("~/Views/Shared/_SAPMappingPartial.cshtml")
             </div>
             <div id="SO">
                 @RenderPage("~/Views/Shared/_SOScreenPartial.cshtml")
             </div>
             <div id="LineContent">
                 @RenderPage("~/Views/Shared/_LineContentScreenPartial.cshtml")
             </div>
             <div id="scResult">
                 @RenderPage("~/Views/Shared/_SCResultPartial.cshtml")
             </div>
             <div id="soResult">
                 @RenderPage("~/Views/Shared/_SOResultPartial.cshtml")
             </div>
             <div id="scMapping">
                 @RenderPage("~/Views/Shared/_SCScreenPartial.cshtml")
             </div>
             <div id="viewMapping">
                 @RenderPage("~/Views/Shared/_ViewMappingPartial.cshtml")
             </div>
             <div id="viewMappingDetails">
                 @RenderPage("~/Views/Shared/_ViewMappingDetailsPartial.cshtml")
             </div>
             <div id="sscMapping">
                 @RenderPage("~/Views/Shared/_SSCScreenPartial.cshtml")
             </div>
             <div id="asnMapping">
                 @RenderPage("~/Views/Shared/_ASNScreenPartial.cshtml")
             </div>
             <div id="AddConfig">
                 @RenderPage("~/Views/Shared/_AddConfigPartial.cshtml")
             </div>
             <div id="EditConfig">
                 @RenderPage("~/Views/Shared/_EditConfigPartial.cshtml")
             </div>
             <div id="viewConfig">
                 @RenderPage("~/Views/Shared/_ConfigPartial.cshtml")
             </div>
             <div id="errorEmail">
                 @RenderPage("~/Views/Shared/_ErrorEmailDetails.cshtml")
             </div>
             <div id="scannerRegst">
                 @RenderPage("~/Views/Shared/_ScannerListPartial.cshtml")
             </div>
             <div id="reportDetails">
                 @RenderPage("~/Views/Shared/_ReportListPartial.cshtml")
             </div>
             <div id="mappingDownloadList">
                 @RenderPage("~/Views/Shared/_MapperListPartial.cshtml")
             </div>
         </div>
 
     </div>
 
 
 
 
     <div id="footer" style="display:none">
         <label class="footerlabel">&#169; Goodpack Limited</label>
     </div>
     <div id="assignValueForm">
         <form>
             <label class="mandatory" style="width: 3%; text-align: right; color: red">*</label>
             <label for="value">Value :</label>
             <input name="value" id="value" data-bind='value: assignValue, valueUpdate: "afterkeydown"' class="text ui-widget-content ui-corner-all"><br />
 
         </form>
     </div>
     <div id="mapFileSaveForm">
         <form>
             <label class="mandatory" style="width: 3%; text-align: right; color: red">*</label>
             <label for="value">Mapper Name :</label>
             <input name="value" data-bind='value: mapFileName, valueUpdate: "afterkeydown"' class="text ui-widget-content ui-corner-all"><br />
 
         </form>
     </div>
     <div id="lineError" style="min-width: 400px; min-height: 200px; overflow: auto !important;">
     </div>
     <div id="errorMessage" style="min-width:400px;min-height:200px">
     </div>
     <div id="createSOResponse" style="min-width:400px;min-height:200px">
     </div>
     <div id="lineDeleteForm">
     </div>
     <div id="viewLookupDelete">
     </div>
     <div id="deleteMappingForm">
     </div>
     <div id="configDelete">
     </div>
   
     <div id="somassEditReason">
         <form>
             <div id="r1">
                 <label class="mandatory" style="width: 3%; text-align: right; color: red">*</label>
                 <label for="value">Reason For Material Number Changed :</label>
                 <br /><br />
                 <select id="EditSO1" data-bind="options: availableReasonsMatNo, optionsText: 'ReasonDescription', optionsCaption: 'Select Reason', selectedOptions: selectedReasonForEditMatNo " class=" dropdown"></select><br /><br />
             </div>
             <div id="r2">
                 <label class="mandatory" style="width: 3%; text-align: right; color: red">*</label>
                 <label for="value">Reason For Quantity Changed :</label><br /><br />
                 <select id="EditSO2" data-bind="options: availableReasonsQty, optionsText: 'ReasonDescription',  optionsCaption: 'Select Reason',selectedOptions: selectedReasonForEditQty" class="dropdown"></select><br /><br />
             </div>
             <div id="r3">
                 <label class="mandatory" style="width: 3%; text-align: right; color: red">*</label>
                 <label for="value">Reason For Req Date Changed :</label><br /><br />
                 <select id="EditSO3" data-bind="options: availableReasonsReqDate, optionsText: 'ReasonDescription', optionsCaption: 'Select Reason', selectedOptions: selectedReasonForEditReqDate" class="dropdown"></select><br /><br />
             </div>
         </form>
     </div>
     <div id="somassCancelReason">
         <form>
             <div>
                 <label class="mandatory" style="width: 3%; text-align: right; color: red">*</label>
                 <label for="value">Reason For Cancelling:</label>
                 <br /><br />
                 <select id="EditSO1" data-bind="options: availableReasonsCancel, optionsText: 'ReasonDescription', optionsCaption: 'Select Reason', selectedOptions: selectedReasonForCancel " class=" dropdown"></select><br /><br />
             </div>
         </form>
     </div>
     <div id="lineCommentForm">
         <form>
             <label class="mandatory" style="width: 3%; text-align: right; color: red">*</label>
             <label for="value">Comment:</label>
             <input name="value" data-bind='value: lineDeleteComment, valueUpdate: "afterkeydown"' class="text ui-widget-content ui-corner-all"><br />
 
         </form>
     </div>
 </body>
 </html>

GO 

