@{
     Layout = null;
 }
 
 <!DOCTYPE html>
 @model GPArchitecture.Models.ViewModels.ProActiveDehireErrorModel
 <html>
 <head>
     <meta name="viewport" content="width=device-width" />
     <title>Goodpack De-Hire</title>
     @Scripts.Render("~/bundles/bootstrapscript")
     @Styles.Render("~/Content/bootstrapcss")
     @*<link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
     <script src="~/Scripts/bootstrap/bootstrap.min.js" type="text/javascript"></script>
     <script type="text/javascript" src="~/Scripts/bootstrap/bootstrap-filestyle.min.js"> </script>*@
 
     <style>
         .header {
             /*padding: 30px 30px 9px 0px;*/
             position: fixed;
             top: 0px;
             left: 0px;
             height: 65px;
             width: 100%;
             z-index: 500;
             background-color:#ffffff;
             text-align: center;  
         }
         .container {
             position:relative;
             padding-top: 75px;
             padding-left: 30px;
         }
         .tablesorter-bootstrap thead th{
             font: bold 14px/20px Arial,sans-serif;
             padding: 4px;
             margin: 0px 0px 18px;
             background-color: #EEE;
         }
     </style>
 </head>
 <body>
     <div>
         <div class="header">
             <img src="Images/goodpack-lg-logo.png" style="width: 50%; height: 65px;">
         </div>
         <div class="container">
             @*<div class="row"><div class="text-right"><b> Consignee Code :</b> @Model.ConsigneeCode </div></div>*@
             <div class="row"></div>
             <div class="row"> <div class="text-center" style="font-size: 1.5em;"><b>Goodpack De-Hire</b></div></div>
             <div class="row text-center text-danger"  style="font-size: 2em; "><b>@Model.Message</b></div>
         </div>
     </div>
 </body>
 </html>

GO 

