@{
     Layout = null;
 }
 
 <!DOCTYPE html>
 @model GPArchitecture.Models.ViewModels.DehireViewModel
 
 <html>
 <head>
     <meta name="viewport" content="width=device-width" />
     <title>Goodpack De-Hire</title>
     <script src="~/Scripts/jquery-1.9.0.min.js" type="text/javascript"></script>
     <script src="~/Scripts/jquery-ui-1.9.2.min.js" type="text/javascript"></script>
     @Scripts.Render("~/bundles/jquery")   
     @Styles.Render("~/Content/themes/base/css")   
     @Styles.Render("~/Content/bootstrapcss")
     @*Noty *@
     @Scripts.Render("~/Scripts/noty/jquery.noty.js")
     @Scripts.Render("~/Scripts/noty/layouts/top.js")
     @Scripts.Render("~/Scripts/noty/layouts/inline.js")
     @Scripts.Render("~/Scripts/noty/themes/default.js")
     @*Block UI *@
     @Scripts.Render("~/Scripts/BlockUi/blockUI.js")
  
     <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
     <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
     <!--[if lt IE 9]>
       <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
       <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
     <![endif]-->
 
     <style>
         .header {
             /*padding: 30px 30px 9px 0px;*/
             position: fixed;
             top: 0px;
             left: 0px;
             height: 65px;
             width: 100%;
             z-index: 500;
             background-color:#ffffff;
             text-align: center;
         }
         .container {
             position:relative;
             padding-top: 75px;
             padding-left: 30px;
         }
         .tablesorter-bootstrap thead th{
             font: bold 14px/20px Arial,sans-serif;
             padding: 4px;
             margin: 0px 0px 18px;
             background-color: #EEE;
         }
     </style>
     <script>        
         var pathname = location.pathname.substring(location.pathname.length - 1, location.pathname.length) == '/' ? location.pathname.substring(0, location.pathname.length - 1) : location.pathname
         var baseUrl = location.protocol + "//" + location.hostname + (location.port && ":" + location.port) + pathname.replace("ProActiveDeHire", "");
 
         function isNumberKey(evt) {
             var charCode = (evt.which) ? evt.which : event.keyCode
             if (charCode > 31 && (charCode < 48 || charCode > 57))
                 return false;
             return true;
         }
         function button_onclick() {
             var myRows = [];
             var $headers = $("th");
             var rowCount = $("#dehireTable tbody tr").length;
             var $rows = $("#dehireTable tbody tr").each(function (index) {
                 if (rowCount - 1 == index)
                     return true;
                 $cells = $(this).find("td");
                 myRows[index] = {};
                 $cells.each(function (cellIndex) {
                     console.log($($(this).html()).find("input:first").attr("value"));
                     myRows[index][$($headers[cellIndex]).html()] = isHTML($(this).html()) ? $(this).find("input:first")[0].value : $(this).html();
                 });
             });
 
             var myObj = {};
             myObj.DehireData = myRows;          
             ajaxPost('/api/ProActiveDehire/SubmitProActiveDehire?' + document.URL.split('?')[1], myObj);
         }
         function isHTML(str) {
             var a = document.createElement('div');
             a.innerHTML = str;
             for (var c = a.childNodes, i = c.length; i--;) {
                 if (c[i].nodeType == 1) return true;
             }
             return false;
         }
         function ajaxPost(url, postModel) {
             $.ajax({
                 type: "POST",
                 url: baseUrl + url,
                 data: JSON.stringify(postModel),
                 contentType: 'application/json; charset=utf-8',
                 success: function (data) {                   
                     $('#modelDiv').html(createTableFromJSON(data.ResponseData));
                     $('#modelDiv').dialog({
                         modal: true,
                         width:750,
                         height: 550,
                         buttons: {                            
                             "Close": function () {
                                 $(this).dialog("close");
                             }
                         },
                     });
                     if (data) {
                         noty({
                             layout: 'top',
                             type: 'success',
                             text: "",
                             dismissQueue: true,
                             animation: {
                                 open: { height: 'toggle' },
                                 close: { height: 'toggle' },
                                 easing: 'swing',
                                 speed: 500
                             },
                             timeout: 3000
                         });
                     }
                 },
                 error: function (data) {
                     debugger;
                    // console.log(data.responseText);
                     //console.log(textStatus);
                     //console.log(errorThrown);
                     noty({
                         layout: 'top',
                         type: 'error',
                         text: JSON.parse(data.responseText).Message,
                         dismissQueue: true,
                         animation: {
                             open: { height: 'toggle' },
                             close: { height: 'toggle' },
                             easing: 'swing',
                             speed: 500
                         },
                         timeout: 3000
                     });
                 }
             });
         }
         function createTableFromJSON(data) {
             var headers = [""], rows = new Array(), status = new Array(), row= new Array();
             debugger;
             for (var i = 0 ; i < 1; i++) {
                 console.log(data[i]);
                 for (keyName in data[i]) {
                     try {
                         if (data[i].hasOwnProperty(keyName)) {
                             if (keyName != null && keyName != "" && keyName != "Status")
                                 headers.push(keyName);
                         }
                     } catch (err) {
                         console.log(err);
                     }
                 }               
             }
             var index = 0;
             $.each(data, function (clientIdx, item) {
                // console.log(item);
                 $.each(item, function (i, arr) {
                     if (i != "Status") {
                         row.push(arr);
                     } else {
                         status.push(arr);
                     }
                 })
                 rows.push(row);
                 row = new Array();
             });
             //console.log(rows);
             var rowHtml = ' <table class="table table-bordered table-striped tablesorter-bootstrap" id="dehireResponseTable"><tr><th>' + headers.join('</th><th>') + '</th></tr>';
             $.each(rows, function (key, arr) {
                 console.log((parseInt(key) + parseInt(1)));
                 if (status[key] == true) {
                     rowHtml += '<tr bgcolor="#FCCECE"><td>' + (parseInt(key) + parseInt(1)) + '</td>';
                     rowHtml += '<td>' + arr.join('</td><td>') + '</td></tr>';
                 }
                 else {
                     rowHtml += '<tr><td>' + (parseInt(key) + parseInt(1)) + '</td>';
                     rowHtml += '<td>' + arr.join('</td><td>') + '</td></tr>';
                 }
             });
             return rowHtml+"</table>";
         }
     </script>
 
 </head>
 <body>
    
     <div>
         <div class="header">
             <img src="Images/goodpack-lg-logo.png" style="height: 65px;">
         </div>
         <div class="container">
             <div class="row"><div class="text-right"><b> Consignee Code :</b> @Model.dehire.ConsigneeCode </div></div>
             <div class="row"></div>
             <div class="row"> <div class="text-center" style="font-size: 1.5em;"><b>Goodpack De-Hire</b></div></div>
             <table class="table table-bordered table-striped tablesorter-bootstrap" id="dehireTable">
                 <thead>
                     <tr >
                         <th>Collection Date</th>
 
                         @foreach (var item in Model.dehire.BinList)
                         {
 
                             <th>@item Qty</th>
                         <!--More properties-->
 
                         }
                         <th>Remark</th>
                     </tr>
                 </thead>
                 <tbody>
                     @foreach (var item in Model.dehire.Dates)
                     {
                         <tr>
                             <td>@item.ToString("dd-MMM-yyyy")</td>
                           
                             @foreach (var itembin in Model.dehire.BinList)
                             {
                                 <td><input type="number" placeholder="Enter Quantity" onkeypress="return isNumberKey(event)" id='@item.ToString("dd-MMM-yyyy")@itembin' /></td>
                             }
                             <td><input type="text" placeholder="Enter Remark" /></td>
                         </tr>
                     }
                     @{
                         var countValue = Model.dehire.BinList. Count()+2;
                         <tr><td style="text-align: center;" colspan='@countValue'><input type="submit" class="btn btn-primary" value="Submit" onclick="button_onclick();"></td></tr>
                     }
                 </tbody>
                 <!--Add footer for totals-->
             </table>
         </div>
     </div>
 
     <div id="modelDiv" title="DeHire Response" ></div>
 </body>
 </html>

GO 

