﻿body
{
    font-size: 9px;
    font-family: Verdana, Helvetica, Sans-Serif;
    color: #000000;
    background-color: #fff;
}

div.site-container
{
    width: 700px;
    margin: auto;
}

div.ads-container
{
    width: 130px;
    margin: auto;
    position: fixed;
    right: 5px;
    top: 5px;
}

div.main-header 
{
    border: 1px solid #CCCCCC;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #ECF2F6;
}

div.main-header h1 {
    margin: 0px;
}

div.top-navigation
{
    border: 1px solid #CCCCCC;
    padding: 4px;
    margin-bottom: 5px;
    background-color: #ECF2F6;
}

div.top-navigation a
{
    padding-left: 2px;
    padding-right: 2px;
    font-weight: bold;
}

div.content-container 
{
    border: 1px solid #CCCCCC;
    padding: 10px;
    background-color: #F5F5F5;
    margin-bottom: 5px;
}
#UserTableContainer
{
    margin:90px;
}
#RoleTableContainer
{
    margin:120px;
}
/*#RoleTableontainer
{
    margin:150px;
}*/

div.content-container h1,div.content-container h2,div.content-container h3,div.content-container h4,div.content-container h5
{
    color: rgb(23, 130, 239);
}

div.main-footer 
{
    border: 1px solid #CCCCCC;
    padding: 4px;
    margin-bottom: 5px;
    background-color: #ECF2F6;
    text-align: center;
}

h2 {
    font-size: 18px;font-weight: bold;
    margin-top: 0px;
}

h3 {
    font-size: 12px;font-weight: bold;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}

/* DOCUMENTS */

.api-option-header
{
    border: 1px solid #CCCCCC;
	background-color:#c9e0fd;
	padding:2px;
    margin-top: 10px;
}

.api-option-header div
{
	display:inline;
	padding-right:20px;
}

.api-option-header .option-name
{
	font-weight:bold;
}

.expandable-header
{
    color: #000066;
    cursor: pointer;
}
.expandable-content
{
    display: none;
}

/* OTHERS */

.news-date
{
    color: #0f0f87;
    font-style: italic;
}

.tabsContainer .code-extra a {
    font-weight: bold;
    color: blue;
}