body
 {
     margin: 0px !important;
     font-size: 12px;
     font-family: Arial !important;
     color: #000000;
     background-color: #fff;
 
 }
 
 div.site-container
 {
     width: 700px;
     margin: auto;
 }
 
 div.ads-container
 {
     width: 130px;
     margin: auto;
     position: fixed;
     right: 5px;
     top: 5px;
 }
 
 div.main-header 
 {
     border: 1px solid #CCCCCC;
     padding: 10px;
     margin-bottom: 5px;
     background-color: #ECF2F6;
 }
 
 div.main-header h1 {
     margin: 0px;
 }
 
 div.top-navigation
 {
     border: 1px solid #CCCCCC;
     padding: 4px;
     margin-bottom: 5px;
     background-color: #ECF2F6;
 }
 
 div.top-navigation a
 {
     padding-left: 2px;
     padding-right: 2px;
     font-weight: bold;
 }
 
 div.content-container 
 {
     border: 1px solid #CCCCCC;
     padding: 10px;
     background-color: #F5F5F5;
     margin-bottom: 5px;
 }
 
 div.content-container h1,div.content-container h2,div.content-container h3,div.content-container h4,div.content-container h5
 {
     color: rgb(23, 130, 239);
 }
 
 div.main-footer 
 {
     border: 1px solid #CCCCCC;
     padding: 4px;
     margin-bottom: 5px;
     background-color: #ECF2F6;
     text-align: center;
 }
 
 h2 {
     font-size: 18px;font-weight: bold;
     margin-top: 0px;
 }
 
 h3 {
     font-size: 12px;font-weight: bold;
 }
 h4 {
     font-size: small;font-weight: bold;
     font-family:'Segoe UI';
 }
 
 a {
     color: blue;
     text-decoration: none;
 }
 
 a:hover {
     color: red;
     text-decoration: underline;
 }
 
 /* DOCUMENTS */
 
 .api-option-header
 {
     border: 1px solid #CCCCCC;
 	background-color:#c9e0fd;
 	padding:2px;
     margin-top: 10px;
 }
 
 .api-option-header div
 {
 	display:inline;
 	padding-right:20px;
 }
 
 .api-option-header .option-name
 {
 	font-weight:bold;
 }
 
 .expandable-header
 {
     color: #000066;
     cursor: pointer;
 }
 .expandable-content
 {
     display: none;
 }
 
 /* OTHERS */
 
 .news-date
 {
     color: #0f0f87;
     font-style: italic;
 }
 
 .tabsContainer .code-extra a {
     font-weight: bold;
     color: blue;
 }
 
 .button {
     border: 1px solid transparent;
     padding: 10px;
     margin: 5px;
     background: #004c97;
     color: #ffffff;
     width:75px;
 }
 
 .button:hover {
     background: #004c97;
     cursor: pointer;
 }
 .choose {
     width: 30%;
     height:10%;
     font-weight: 100;
     margin-left: -10px;
     font-size: small;
     background-color: #d9e4f0;
     border: none;
     margin-top: -9px;
     padding-top: 5px;
 }
 
     .someBoldClass{
         background-color:green;
     }
     .k-grid, .k-widget
     {
         font-family:Arial;
     }
         .k-grid .k-grid-header .k-header .k-link {
             height: auto;
         }
 
         .k-grid .k-grid-header .k-header {
             white-space: normal;
         }
         .KendoUIDivStyle
         {
             width: auto; margin-top: 10px; font-size: 13px;height:90%;bottom:10px;
         }
 .transcationBtnDiv {
     width: 31%;
     float: right;
     display: inline;
     height: 40px;  
     margin-top:10px;  
 }
 .dropdownWelcomeDiv {
     width: 33%;
     display: inline;
     float: left;
     height: 40px;
     margin-top:15px;
 }
 .controleWidth {
     width: 300px;
 }
 fieldset.fsStyle {
   font-family: Arial, sans-serif;
   font-size: small;
   font-weight: normal;
   border: 1px solid #999999;
   padding: 4px;
   margin: 5px;
 }
 legend.legendStyle {
   font-size: 90%;
   color: #888888;
   background-color: transparent;
   font-weight: bold;
   font-family: arial;
   font-size: 14px !important;
   color:black;
   margin-bottom:2px !important;
 } 
 .collapse.in {
   display: block;
 }
 #TransactionPagerDiv
 {width: auto; margin-top: 10px; font-size: 13px;height:90%;;bottom:10px;}
 #trnPageDiv{text-align: center; width: auto; margin: auto; padding-right: 1%; padding-left: 1%; margin-top: 20px; margin-left: -10px; height: 97%; overflow-y: auto;overflow-x:hidden;}
 
 .KendoUIDivLineStyle{
     width: 100%;margin-top: 25px;margin-bottom: 25px;
 }
 .k-grid td {
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
 }
 .transDetailsKendoUI {
     padding-left: 450px;
     padding-top: 10px;
 }
 .legendDiv{
     margin-left: 2px !important;height:60px;width: 100%;/*background-color:#e4edf5 !important;*/
 }
 .k-dropdown .k-state-default {
     background-color: #E0DEDD !important;
 }
 div#toc-resizable-ew {
   cursor: e-resize;
   width: 15px;
   top: 0;
   height: 20px;
   position: absolute;
   display: block;
   font-size: .5px;
   right: -7px;
 }
 .cl_nav_resize_open {
     width: 20px;
     height: 24px;
     background: url(https://i-msdn.sec.s-msft.com/Areas/Epx/Content/Images/ImageSprite.png?v=635688728722307568) -300px 0;
     -ms-transform: rotate(90deg); /* IE 9 */
     -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
     transform: rotate(90deg);
 }
 .cl_nav_resize_close {
     width: 20px;
     height: 44px;   
     background: url(https://i-msdn.sec.s-msft.com/Areas/Epx/Content/Images/ImageSprite.png?v=635688728722307568) -320px 0;
     -ms-transform: rotate(90deg); /* IE 9 */
     -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
     transform: rotate(90deg);
 }
 a#NavigationResize {    
   top: 44px;
 }
 .transactionDIV
 {
     padding-left: 10px; padding-top: 30px;
 }
 .marginTop{
     padding-top:30px;
 }
 .headerImgPadding{
      padding-top:15px;
 }
 .headerloginNamePadding{
     padding-top:10px;
     padding-right:10px;
 }
 
 .menuClass {
     height: 34px;
     font-family: Arial;
 }
 .loginControls{
     margin-top:190px;
 }
 .centerTable {
     text-align:center;
     width:30%;
     min-width:320px;
     margin-left: auto;
     margin-right: auto;
    
 }
 .welcomeDiv{
     padding-left:45px;
     padding-top:5px;
 }
 .lineContentTopDiv {
     width: 100%;
     overflow: hidden;
     background: #d9e4f0;
     height: 70px;
     border: 1px solid transparent;
 }
 .welcomeControlpadding
 {
     padding-left:80px;
     padding-top:20px;
 }
 .lineContentContainer
 {
     padding-left:360px;
     padding-top:10px;
     padding-right: 90px;
 }
 #changePasswordDialog
 {
     z-index:10000;
 }
 .chosen-container.chosen-container-single .chosen-single {
     display: block;
     width: 100%;
     height: 30px;
     font-size: 12px;
     font-family: Arial;
     line-height: 1.428571429;
     color: #555;
     vertical-align: middle;    
     background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%);
     border: 1px solid #ccc;
     border-radius: 4px;
     -moz-box-shadow: 2px 2px 2px  #888;
     -webkit-box-shadow:2px 2px 2px  #888;
       box-shadow: 2px 2px 2px #888;
     -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
     transition: border-color ease-in-out .15s , box-shadow ease-in-out .15s;
     background-image: none;
     padding-top: 5px;
 }
 
 
  .chosen-container-multi.chosen-container-active .chosen-choices,
  .chosen-container.chosen-container-single.chosen-container-active .chosen-single,
  .chosen-container .chosen-search input[type=text]:focus{
     border-color: #66AFE9;
     outline: 0;
     -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
     box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
 }
  .blockOverlay
  {
      z-index: 100002 !important;
  }
  .newOrderControlePadding{
      padding-top:10px;
  }
  .datetimewidth{
        width: 80%;
  }
 .textBoxClass {
     border: 1px solid #ccc;
     border-radius: 4px;
     -moz-box-shadow: 2px 2px 2px #888;
     -webkit-box-shadow: 2px 2px 2px #888;
     box-shadow: 2px 2px 2px #888;
     -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
     transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
     background-image: none;
     padding-top: 5px;
 }
 .datetimeImg{
     color: rgb(0, 76, 151);
 }
 .datetimeViewOrder{
     width:35%
 }.viewOrderControlePadding
  {
     margin-top:45px;
     background-color: #d9e4f0;
     height: 90px;
     padding-top: 20px;
  }
  #dt1,#dt2
  {
      height:30px;
  }
 #EditSO {
     padding-top: 2px;
 }
 .newOrder{
     width: 100%; 
     height: auto; 
     background-color: #d9e4f0;padding-bottom:10px;
 }
 .paddingnewOrder{
     padding-top: 20px;
     padding-left: 15px;
 }
 .textbx{
         display: block;
     width: 100%;
     height: 30px;
     font-size: 12px;
     font-family: Arial;
     line-height: 1.428571429;
     color: #555;
     vertical-align: middle;
     border: 1px solid #ccc;
     border-radius: 4px;
     -moz-box-shadow: 2px 2px 2px #888;
     -webkit-box-shadow: 2px 2px 2px #888;
     box-shadow: 2px 2px 2px #888;
     -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
     transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
     background-image: none;
     padding-top: 5px;
 }
 .datepiackeNew{
     width:65%;
 }
 .datePickerColor{
       color: rgb(0, 76, 151);
 }
 .viewOrder {
     width: 98%;
     height: 80px;
     background-color: #d9e4f0;
     margin-top: 15px;
     padding-top: 15px;
     margin-left: 15px !important;
 }
 .viewOrderDiv{
     border: 1px solid transparent; width: 100%; height: auto; margin: auto; margin-bottom: 2%;margin-left:15px;
 }
 .uploadOrder
 {
     width: 100%; padding-bottom: 1%; height: auto; background-color: #d9e4f0; font-weight: 100; font-size: small;
     padding-top:20px;
 }
 .cancelOrder{
     width: 100%;  height: auto; background-color: #d9e4f0; float: left;padding-top:20px;padding-bottom:10px;
 }
 .editField {
     background-color: #d9e4f0;
     height: auto;
 }
 
 .ui-widget-overlay { z-index: 5001 !important ;}
 /*.ui-widget-content .ui-corner-all .ui-draggable .ui-resizable .ui-dialog-buttons .ui-dialog-content .ui-widget-content{
     z-index: 100005 !important;
 }*/
 .ui-widget-content .ui-dialog-buttons .ui-dialog-content .ui-widget-content .ui-jqdialog {
     z-index: 100005 !important;
 }
 
 .paddingTop {
     padding-top:15px;
 }
 .menuoverflow{
     overflow-y: auto;
 }
 .k-button{
     height: 25px !important;
     font:bold 10px Arial  !important;
     padding-top: 5px !important;
 }
 .k-grid td {
       padding: .24em 1.1em !important;
       font:12px Arial ;
 }
 .k-grid tr:nth-child(even) {
   background-color: #efefef;
 }
 .marginSC{
     margin-left:25px;
     margin-top:20px;
 }
 #scResultTable td
 {
     padding-left:.7em ;padding-right:.7em;
 }
 .lookUpDialog
 {
     margin-top:15px;
     padding-top:20px;
 }
 .divReport{    
     padding-top: 20px;
     padding-left: 10px;
 }
 .divPaddingBtm{
     padding-bottom:15px;
 }
 .chosen-container-single .chosen-search {
     z-index: 100000 !important;
 }
 .kendoModelPadding{
     padding-top: 20px !important;
     margin-bottom: 20px !important;
 }
 
 .table-striped > tbody > tr:first-child td {
     background-color: #599CDE !important;
     font-weight: bold;
 }
 .table-striped > tbody > tr:nth-child(2) {
     font-weight: bold;
 }
 /*.table {
     white-space: nowrap !important;
     text-wrap: avoid !important;
 }*/.my-legend .legend-title {
     text-align: left;
     margin-bottom: 5px;
     font-weight: bold;
     font-size: 90%;
     }
   .my-legend .legend-scale ul {
     margin: 0;
     margin-bottom: 5px;
     padding: 0;
     float: left;
     list-style: none;
     }
   .my-legend .legend-scale ul li {
     font-size: 80%;
     list-style: none;
     margin-left: 0;
     line-height: 18px;
     margin-bottom: 2px;
     }
   .my-legend ul.legend-labels li span {
     display: block;
     float: left;
     height: 16px;
     width: 30px;
     margin-right: 5px;
     margin-left: 0;
     border: 1px solid #999;
     }
   .my-legend .legend-source {
     font-size: 70%;
     color: #999;
     clear: both;
     }
   .my-legend a {
     color: #777;
     }
 
 
 /*#tblMappingList > tbody > tr:nth-child(1) {
     background-color: transparent;
     font-weight: normal !important;
 }*/
 #tblMappingList > tbody > tr:nth-child(2) {  
     font-weight: normal !important;
 }
 /*#tblMappingList > tbody > tr:nth-child(1)>td {
     background-color: transparent !important;
     font-weight: normal !important;
 }*/
 #dynatable-query-search-tblMappingList { 
 	padding:6px 15px 6px 30px;
 	margin:3px; 
     border-radius: 15px;
 	background: url('../Images/search.png') no-repeat 8px 6px;
 }
 
 #tblMappingList > thead >tr> th
 {
     color:white  !important;
     padding:12px 5px 12px  5px !important;
 }
 #tblMappingList_filter input[type="search"]
 {
 	padding:6px 3px 6px 3px;
 	margin:3px; 
     border-radius: 10px;
 	/*background: url('../Images/search.png') no-repeat 8px 6px;*/
 }
 
 .loading {
     /* Replace #333 with the background-color of your choice */
     /* Replace loading.gif with the loading image of your choice */
     background:  url('../Images/loading.gif') no-repeat 50% 50%;
     height:100%;
     /* Ensures that the transition only runs in one direction */
     -webkit-transition: background-color 0;
     transition: background-color 0;
     z-index:50000000 !important;
 }
 .notyCustom
 {
     height:600px;
 }

GO 

