@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900,400italic);
/* ==========================================================================
   Author : Vineeth.T.R
   Date: 11/06/2015
  Theme : GoodPack
  Dis : Attinadsoftware
========================================================================== */
/******

// Theme Variables
// --------------------------------------------------


*******/
.dib {
  display: inline-block;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.oh {
  overflow: hidden;
}
.fw {
  width: 100%;
}
.fh {
  height: 100%;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.brdn {
  border: none;
}
.hidden {
  display: none !important;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.relative {
  position: relative;
}
.static {
  position: static;
}
.bg-no {
  background: none;
}
.bg-white {
  background-color: #ffffff;
}
.bg-dark {
  background-color: #424242;
}
.bg-primary {
  background-color: #004c97;
}
.bg-info {
  background-color: #26a69a;
}
.bg-success {
  background-color: #509e2f;
}
.bg-warning {
  background-color: #ff6f00;
}
.bg-danger {
  background-color: #ee2f24;
}
.bg-pending {
  background-color: #d84315;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.bold {
  font-weight: bold;
}
.light {
  font-weight: lighter;
}
.text-dark {
  color: #424242;
}
.text-primary {
  color: #004c97;
}
.text-info {
  color: #26a69a;
}
.text-success {
  color: #509e2f;
}
.text-warning {
  color: #ff6f00;
}
.text-danger {
  color: #ee2f24;
}
.btn-primary {
  background-color: #004c97;
}
.btn-info {
  background-color: #26a69a;
}
.btn-success {
  background-color: #509e2f;
}
.btn-warning {
  background-color: #ff6f00;
}
.btn-danger {
  background-color: #ee2f24;
}
.btn-pending {
  background-color: #d84315;
}
.ptn,
.pvn,
.pan {
  padding-top: 0;
}
.ptx,
.pvx,
.pax {
  padding-top: 3px;
}
.pts,
.pvs,
.pas {
  padding-top: 5px;
}
.ptm,
.pvm,
.pam {
  padding-top: 10px;
}
.ptl,
.pvl,
.pal {
  padding-top: 20px;
}
.prn,
.phn,
.pan {
  padding-right: 0;
}
.prx,
.phx,
.pax {
  padding-right: 3px;
}
.prs,
.phs,
.pas {
  padding-right: 5px;
}
.prm,
.phm,
.pam {
  padding-right: 10px;
}
.prl,
.phl,
.pal {
  padding-right: 20px;
}
.pbn,
.pvn,
.pan {
  padding-bottom: 0;
}
.pbx,
.pvx,
.pax {
  padding-bottom: 3px;
}
.pbs,
.pvs,
.pas {
  padding-bottom: 5px;
}
.pbm,
.pvm,
.pam {
  padding-bottom: 10px;
}
.pbl,
.pvl,
.pal {
  padding-bottom: 20px;
}
.pln,
.phn,
.pan {
  padding-left: 0;
}
.plx,
.phx,
.pax {
  padding-left: 3px;
}
.pls,
.phs,
.pas {
  padding-left: 5px;
}
.plm,
.phm,
.pam {
  padding-left: 10px;
}
.pll,
.phl,
.pal {
  padding-left: 20px;
}
.mtn,
.mvn,
.man {
  margin-top: 0px;
}
.mtx,
.mvx,
.max {
  margin-top: 3px;
}
.mts,
.mvs,
.mas {
  margin-top: 5px;
}
.mtm,
.mvm,
.mam {
  margin-top: 10px;
}
.mtl,
.mvl,
.mal {
  margin-top: 20px;
}
.mrn,
.mhn,
.man {
  margin-right: 0px;
}
.mrx,
.mhx,
.max {
  margin-right: 3px;
}
.mrs,
.mhs,
.mas {
  margin-right: 5px;
}
.mrm,
.mhm,
.mam {
  margin-right: 10px;
}
.mrl,
.mhl,
.mal {
  margin-right: 20px;
}
.mbn,
.mvn,
.man {
  margin-bottom: 0px;
}
.mbx,
.mvx,
.max {
  margin-bottom: 3px;
}
.mbs,
.mvs,
.mas {
  margin-bottom: 5px;
}
.mbm,
.mvm,
.mam {
  margin-bottom: 10px;
}
.mbl,
.mvl,
.mal {
  margin-bottom: 20px;
}
.mln,
.mhn,
.man {
  margin-left: 0px;
}
.mlx,
.mhx,
.max {
  margin-left: 3px;
}
.mls,
.mhs,
.mas {
  margin-left: 5px;
}
.mlm,
.mhm,
.mam {
  margin-left: 10px;
}
.mll,
.mhl,
.mal {
  margin-left: 20px;
}
body {
  font-family: Arial, sans-serif;
  padding-top: 66px;

}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Arial', sans-serif;
}
a:focus,
a:active {
  outline: none;
}
.text-lg {
  font-size: 16px;
  font-weight: 500;
}
.header {
  background: #fff url("../Images/header_ED.png") no-repeat right 0 ;
  padding: 30px 30px 9px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
}
.container-fluid-Custom {
    padding-top: 35px;
    padding-left:0px;
}
.header .logo {
  width: 100%;
  max-width: 240px;
}
.header h1 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  color: #509e2f;
  font-weight: 600;
  font-family: arial;
  font-size: 30px;
}
.header .power-btn {
  font-size: 26px;
  color: #004c97;
  margin-left: 15px;
  float: right;
  position: relative;
  top: -5px;
}
.login {
  background: url("../images/Login.jpg") no-repeat fixed #004c97;
  -webkit-background-size: cover;
  background-size: cover;
  padding-top: 20%;
}
.login body {
  background: none;
  padding: 0;
}
.login .logo {
  width: 300px;
  margin-bottom: 10px;
}
.login h2 {
  color: #fff;
  font-family: arial;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
}
.login .form-control {
  background: none;
  border: 2px solid #fff;
  color: #fff;
}
.login .form-control::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.login .form-control:-ms-input-placeholder {
  color: #ffffff;
}
.login .form-control::-webkit-input-placeholder {
  color: #ffffff;
}
/*Menu*/
.menu {
  position: fixed;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  z-index: 15;
  left: 0;
  top: 76px;
  bottom: 0;
  width: 200px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  -ms-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  z-index:5000;
}
.menu .nav-header {
  width: 100%;
  background-color: #509e2f;
  height: 36px;
}
.menu .menu-toggle {
  float: right;
  position: relative;
  margin-right: 10px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  cursor: pointer;
  width: 30px;
  height: 25px;
  background: url('../Images/arrow1.png') no-repeat;
}
.menu .menu-list {
  position: absolute;
  top: 75px;
  bottom: 0;
  width: 100%;
  left: 0;
  overflow-y: auto;
}
.menu .panel-group {
  background: #fff;
  position: absolute;
  top: 45px;
  bottom: 0;
  width: 100%;
  left: 0;
  margin: 0;
}
.menu .panel {
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  position: relative;
}
.menu .panel > .panel-heading {
  background-color: #ffffff;
  border: none;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
.menu .panel > .panel-heading a {
  display: block;
  padding: 9px 15px;
  font-size: 13px;
  color: #509e2f;
  position: relative;
  white-space: nowrap;
}
.menu .panel > .panel-heading a .glyphicon {
  float: left;
}
.menu .panel > .panel-heading a span {
  white-space: nowrap;
  overflow: hidden;
  width: 120px;
  display: inline-block;
  -ms-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.menu .panel > .panel-heading a.no-cart:after {
  display: none;
}
.menu .panel > .panel-heading a:after {
  content: '';
  position: absolute;
  right: 10px;
  border: 6px solid transparent;
  border-bottom-color: #004c97;
}
.menu .panel > .panel-heading a.collapsed:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  top: 23px;
}
.menu .panel > .panel-heading a:hover,
.menu .panel > .panel-heading a.active,
.menu .panel > .panel-heading a:focus {
  text-decoration: none;
  background: #eee;
}
.menu .nav{
  background-color: #f1f1f1;
  padding-left: 15px;
}
.menu .nav li a {
  background: #f1f1f1 url("../Images/li-arrow.png") no-repeat 15px 15px;
  padding-left: 40px;
  color: #509e2f;
}
.main {
  position: relative;
  -ms-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  margin-left: 200px;
  padding-top:10px;
}
.main .breadcrumb {
    height: 36px;
    background-color: #004c97;
    position: fixed;
    z-index: 100;
    left: 200px;
    right: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
     -ms-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}
.menu-mm .menu .panel:hover .panel-collapse {
  display: block;
}
.main .breadcrumb li {
  color: #aaa;
}
.main .breadcrumb li a {
  color: #fff;
}
.main .breadcrumb .ch-btn {
  float: right;
  padding-right: 30px;
}
.main .breadcrumb .ch-btn:before {
  display: none;
}
.menu-mm .menu {
  width: 70px;
}
.menu-mm .main .breadcrumb {
    left: 70px;
}

.menu-mm .menu .menu-toggle {
    top: 11px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.menu-mm .menu .panel > .panel-heading a span {
  width: 0;
}
.menu-mm .menu .nav {
  position: absolute;
  left: 100%;
  width: 175px;
  top: 0px;
}
.menu-mm .main {
  margin-left: 70px;
}
@media (min-width: 1020px) {
  .menu-mm .menu .panel:hover .panel-collapse {
    display: block;
  }
}
@media (max-width: 980px) {
  body {
    padding-top: 60px;
  }
  .login {
    background: #004c97;
    text-align: center;
  }
  .login h2 {
    font-size: 18px;
  }
  .login h3.text-primary {
    color: #509e2f;
    font-size: 14px;
    text-align: left;
  }
  .login .logo {
    width: 260px;
    margin-top: 30px;
  }
  .login .btn-primary {
    background-color: #509e2f;
  }
  .header {
    background: #fff;
    padding: 20px 0;
    height: 60px;
  }
  .menu {
    top: 60px;
    width: 40px;
  }
  .menu .panel-group {
   
    overflow-y: auto;
    left: -200px;
  }
  .main {
    margin: 0;
  }
  .main .breadcrumb{
      left:40px;
      top: 60px;
  }
  .main .breadcrumb .ch-btn {
    padding-right: 0;
  }
  .menu-mm .menu {
    width: 200px;
  }
  .menu-mm .menu .menu-toggle {
    top: 4px;
    left: 10px;
  }
  .menu-mm .menu .panel-group {
    position: absolute;
    left: 0;
    width: 100%;
    top: 35px;
    bottom: 0;
    -moz-box-shadow: 0px 2px 5px #aaaaaa;
    -webkit-box-shadow: 0px 2px 5px #aaaaaa;
    -ms-box-shadow: 0px 2px 5px #aaaaaa;
    -o-box-shadow: 0px 2px 5px #aaaaaa;
    box-shadow: 0px 2px 5px #aaaaaa;
  }
  .menu-mm .menu .nav {
    position: relative;
    left: 0;
    width: 100%;
  }
  .menu-mm .menu .panel > .panel-heading a span {
    width: auto;
  }
  .menu-mm .main {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
    .legendDiv {
        margin-left: 2px !important;
        height: 130px;
        width: 100%;
    }
    #DDTrnsubsi, #DDTransactionName {
        padding-top: 5px;
    }
    .welcomeDiv {
        padding-left: 25px;
        padding-top: 5px;
    }
    .lineContentTopDiv {
    width: 100%;
    overflow: hidden;
    background: #d9e4f0;
    height: 140px;
    border: 1px solid transparent;
}
    .lineContentContainer {
        padding-left: 36px;
        padding-top: 35px;
        padding-right: 90px;
    }
    .newOrder {
        height: auto; 
    }
    .viewOrder {       
        height: auto;  
    }
    .input-group
    {
        width:80%;
    }
    .editField {
        background-color: #d9e4f0;
        height: auto;
    }
}
